<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead class="indigo white-text">
			<tr>
				<th class="locations_location">Location</th>
				<th class="locations_brand">Brand</th>
				<th class="locations_city">City</th>
				<th class="locations_address">Address</th>
				<th class="locations_users">Users</th>
				<th class="locations_menu">&nbsp;</th>
			</tr>
		</thead>

		<tbody id="locations">
			<tr class="brand_id_102 table_row">
				<td >Head Office</td>
				<td>JC</td>
				<td>Hamilton</td>
				<td>123 Easy St.</td>
				<td>5</td>
				<td>
					<div id="location_option_group_76" class="btn-group filters">
						<span id="locationOptionDropdownWrapper_76" class="dropdown">
							<a class="icon_wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Location Options" id="locationOptionDropdownButton_76">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="locationOptionDropdownButton_76">
								<div>
									<a type="button" href="#locations/edit-location/76" data-id="76" class="edit_location_btn">
										<i class="fas fa-pen"></i> Edit Location
									</a>
								</div>
								<div>
									<a type="button" class="delete_not_location_btn">
										<i class="fas fa-trash"></i> Delete
									</a>
								</div>
							</div>
						</span>
					</div>
				</td>
			</tr>
			<tr class="brand_id_106 table_row">
				<td >Example Location</td>
				<td>Test</td>
				<td>Hamilton</td>
				<td>197 King William Street</td>
				<td>1</td>
				<td>
					<div id="location_option_group_80" class="float-left btn-group filters">
						<span id="locationOptionDropdownWrapper_80" class="dropdown">
							<a class="icon_wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Location Options" id="locationOptionDropdownButton_80">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="locationOptionDropdownButton_80">
								<div>
									<a type="button" href="#locations/edit-location/80" data-id="80"
										class="edit_location_btn">
										<i class="fas fa-pen"></i>
										Edit Location
									</a>
								</div>
								<div>
									<a type="button" class="delete_not_location_btn">
									<i class="fas fa-trash"></i>
									Delete
								</a>
							</div>
							</div>
						</span>
					</div>
				</td>
			</tr>
			<tr class="brand_id_102 table_row">
				<td >Test</td>
				<td>JC</td>
				<td>Madrid</td>
				<td>71 Calle de Valderribas</td>
				<td>0</td>
				<td>
					<div id="location_option_group_81" class="float-left btn-group filters">
						<span id="locationOptionDropdownWrapper_81" class="dropdown">
							<a class="icon_wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Location Options" id="locationOptionDropdownButton_81">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="locationOptionDropdownButton_81">
								<div>
									<a type="button" href="#locations/edit-location/81" data-id="81"
										class="edit_location_btn">
										<i class="fas fa-pen"></i> Edit Location</a>
									</div>
								<div>
									<a type="button" data-id="81" class="delete_location_btn">
										<i class="fas fa-trash"></i> Delete
									</a>
								</div>
							</div>
						</span>
					</div>
				</td>
			</tr>
			<tr class="brand_id_107 table_row">
				<td >Example Location</td>
				<td>Nike</td>
				<td>Hamilton</td>
				<td>197 King William Street</td>
				<td>0</td>
				<td>
					<div id="location_option_group_82" class="float-left btn-group filters">
						<span id="locationOptionDropdownWrapper_82" class="dropdown">
							<a class="icon_wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								title="Location Options" id="locationOptionDropdownButton_82">
								<i class="fas fa-ellipsis-v"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="locationOptionDropdownButton_82">
								<div>
									<a type="button" href="#locations/edit-location/82" data-id="82" class="edit_location_btn">
										<i class="fas fa-pen"></i> Edit
										Location
									</a>
								</div>
								<div>
									<a type="button" data-id="82" class="delete_location_btn">
										<i class="fas fa-trash"></i> Delete
									</a>
								</div>
							</div>
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>