.dropdown.bootstrap-select {
  position: relative;
  top: 0;
  right: 0;

  .btn {
    user-select: none;
    border: 1px solid $border;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $br-sm;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #212529;
    }

    &:focus {
      outline: none !important;
    }
  }

  .dropdown-menu {
    li {
      &.no-results {
        padding: 5px 10px;
        background: #f5f5f5;
        margin: 0;
        white-space: nowrap;
      }

      &:hover {
        background: #f2f2f2;
      }
    }


    .dropdown-item {
      .bs-ok-default {
        color: $teal !important;
      }
    } 
  }
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: $bg;
}
