.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #949499;
  background-color: #f5f6fc;
  background-clip: padding-box;
  border: 2px solid #e9eaf3;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $border;
  outline: 0;
  box-shadow: none;
}

.form-group .btn-floating.btn-lg i {
  font-size: 15px;
}

.form-group.text-right.bottom-bar,
.text-right.bottom-bar .form-group {
  padding-top: 30px;
}

.form-group > a,
.form-group > button {
  @include mq(custom, max, 550) {
    //  margin-bottom: 20px;
    margin-left: 0 !important;
  }
}
