.dropdown-content.select-dropdown.multiple-select-dropdown {
    border: 2px solid #16cd8a;
    width: 100%;
  }
  
  .select-wrapper .select-dropdown {
    border: 2px solid #16cd8a;
    @include scrollStyle;
  }
  
  .dropdown-content li > a,
  .dropdown-content li > span {
    color: #16cd8a;
    padding: 12px;
  }
  
  .select-dropdown li.optgroup span {
    position: relative;
    cursor: pointer;
  }
  
  .select-dropdown li.optgroup span span {
    position: absolute;
    top: 6px;
    right: 17px;
    color: #16cd8a;
  }
  
  .select-dropdown li.disabled,
  .select-dropdown li.disabled > span,
  .select-dropdown li.optgroup {
    padding: 5px 0 0 0.6rem;
  }
  
  .select-dropdown li.disabled {
    display: none !important;
  }
  
  .select-dropdown li.disabled label {
    margin: 4px 10px;
    padding: 0 10px;
  }
  
  .dropdown-content li.disabled > a,
  .dropdown-content li.disabled > span {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
  }
  
  .select-dropdown li.disabled > span {
    color: #aaa;
    padding: 0 0 10px;
  }
  
  .select-dropdown li.optgroup-option > span {
    color: #666;
  }
  
  .select-dropdown li.optgroup > span {
    font-weight: bold;
    color: #000000;
  }
  
  .dropdown-content li.optgroup > span {
    color: #000000;
    padding-left: 0.6rem;
  }
  
  .select-dropdown li.optgroup-option.active > span {
    color: #0c9b8e;
    border-top: 1px solid #dfdfdf;
    border-left: 3px solid #16cd8a;
  }

  .select-wrapper {
    .select-dropdown {
      .search-wrap {
        margin: 0 !important;
        padding: 0 !important;
        margin: 0px !important;
        padding: 0px 0 0 10px;
        border-bottom: 2px solid #e9eaf4;
  
        .md-form {
          margin-bottom: 0;
  
          .search {
            border: none !important;
            &:focus,
            &:active {
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
  
  .select-wrapper .search-wrap .md-form {
    padding: 5px 10px 5px 10px;
  }
  
  .select-wrapper .search.form-control {
    border-style: none;
  }
  
  .select-wrapper .search.form-control:focus:not([readonly]) {
    border-style: none;
  }
  
  input.select-dropdown {
    padding: 14px 40px 10px 10px !important;
  }
  
  .dropdown-content li.active,
  .dropdown-content li:hover {
    background-color: #f6f7fc;
  }

  input.select-dropdown {
    background-image: url('../img/chevron.png');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    /* background-size: .65em auto, 100%; */
  }
  
  input.select-dropdown:hover {
    background-image: url('../img/chevron-hover.png');
  }
  
  #page .select-wrapper span.caret {
    display: none;
  }

  .select_input_group input.select-dropdown {
    margin-bottom: 5px;
  }
  
  .select_input_group .select-dropdown .disabled {
    display: block;
  }

  /* Form Select Input */
.select_input_group {
    position: relative;
    padding-right: 40px;
    margin-bottom: 5px;
  }
  
  .select_input_group .select-wrapper {
    display: inline-block;
    width: 40%;
  }
  
  .select_input_group input.select_input {
    display: inline-block;
    width: 60%;
    margin-left: 2%;
    box-sizing: border-box;
    margin: 0px;
    border-left-style: none;
  }
  
  .select_input_group .select_action {
    position: absolute;
    top: 0;
    right: 0px;
  }
  
  .select_input_group .modzee-btn-add,
  .select_input_group .modzee-btn-remove {
    margin: 0px;
    width: 43px;
    height: 43px;
    top: 0;
    left: 10px;
  }
  
  .select_input_group .modzee-btn-add i,
  .select_input_group .modzee-btn-remove i {
    font-size: 15px;
    line-height: 44px;
  }