<div class="d-block mb-3">
    <button type="button" class="btn green-button approve_btn">Submit</button>
</div>

<div class="d-block mb-3">
    <a class="btn green-button prev-step outline">Back</a>
</div>

<div class="d-block mb-3">
    <a href="#profile/edit-profile" class="btn blue-button">Edit Profile</a>
</div>

<div class="d-block mb-3">
    <a href="#profile/edit-profile" class="btn blue-button outline">Edit Profile</a>
</div>

<div class="d-block mb-3">
    <button type="reset" class="outline-button btn cancel position-static">Cancel</button>
</div>