---
title: Overview | Modzee
fabricator: true
---

<div class="mb-5 mt-3">
	<img src="assets/toolkit/images/modzee-green.svg" width="250" alt="Modzee">
</div>

<h1>Overview</h1>

<p>This UI toolkit is a single source of truth for modzee frontend development. Consider the styles and code here to be the most current.</p>

<p class="mb-5">The following are dependencies used in frontend styling:</p>

{{#each deps.things}}
	<pre class="language-markup"><code class="language-markup">{{ name }}</code> <a href="{{ depLink }}" target="blank">{{ depLink }}</a></pre>
{{/each}}

