
th.brands_brand {
    width: calc(45%) !important;
}

th.brands_users,
th.brands_content,
th.brands_locations,
th.brands_groups,
th.brands_roles {
    width: calc(8%) !important;
}

th.brands_date {
    width: calc(23%) !important;
}

th.brands_menu {
    width: calc(5%) !important;
}

#brand_form {
    .form-group > * {
        @include mq(custom, max, 550) {
          margin-bottom: 15px;
        }
    }
}