/******************************* START LIVE CHAT STYLES ******************************/

/**** UNIVERSAL ***/
#chat_window .chat-top-border-collapse,
#chat_window .chat-box-container {
  background: #fff;
}

#chat_window .chat-top-border {
  padding-top: 15px;
  height: 45px;
  z-index: 2;
}

#chat_window .chat-window-settings {
  height: 50px;
  top: 60px;
  z-index: 1;
  opacity: 1;
}

#chat_window .chat-window-settings-active {
  height: 50px;
}

#chat_window .delete-conversations {
  padding-top: 5px;
}

#chat_window input[type="text"]:focus:not([readonly]) {
  border-color: #e8e9f3 !important;
}

#chat_window .gear-icon svg {
  width: 40px;
  height: 25px;
  margin-top: 8px;
}

#chat_window .gear-icon {
  right: 3px;
  padding-top: 8px;
  float: right;
  width: 40px;
  height: 40px;
}

#chat_window #close-button {
  right: 17px;
  bottom: 21px;
}

#chat_window .chat-text-item {
  z-index: 3;
  padding-top: 30px;
}

#chat_window .chatbox-height-item {
  height: 103%;
  padding-top: 10px;
}

#chat_window .sent_message,
#chat_window .received_message {
  padding: 5px 12px !important;
  margin: 0 !important;
  background: #dedfee;
  font-size: 14px;
  color: #000;
}

#chat_window .sent_message::after,
#chat_window .received_message::after {
  background: #dedfee;
}

#chat_window .chat-received-avatar {
  left: 0;
}

#chat_window .chat-sent-avatar {
  right: 0;
}

#chat_window .sb-avatar__text,
#chat_window .sb-avatar.sb-avatar--text {
  width: 35px !important;
  height: 35px !important;
}

#chat_window .chat-window-settings {
  height: 50px;
  top: 60px;
  z-index: 1;
  opacity: 1;
}

#chat_window .chat-window-settings-active {
  height: 50px;
}

#chat_window .delete-conversations {
  padding-top: 25px;
}

.sb-avatar__text span {
  font-size: 11px !important;
}

#chat_window .chat-sent-avatar .sb-avatar__text {
  background: rgb(19, 205, 137) !important;
}

#chat_window #chat-text {
  margin-top: -40px !important;
  height: 65px !important;
  background-color: #f1f1f1 !important;
  border-width: 3px 0 0 0 !important;
  padding-left: 20px !important;
}

/******************************* START LIVE CHAT STYLES ******************************/

/**** UNIVERSAL ***/
#chat_window .chat-top-border-collapse,
#chat_window .chat-box-container {
  /* this was making the minimized chat top be hidden. I disabled it.  */
  /* background: #fff; */
}

#chat_window .chat-top-border {
  padding-top: 15px;
  height: 45px;
  z-index: 2;
}

#chat_window .chat-window-settings {
  height: 50px;
  top: 60px;
  z-index: 1;
  opacity: 1;
}

#chat_window .chat-window-settings-active {
  height: 50px;
}

#chat_window .delete-conversations {
  padding-top: 5px;
}

#chat_window input[type="text"]:focus:not([readonly]) {
  border-color: #e8e9f3 !important;
}

#chat_window .gear-icon svg {
  width: 40px;
  height: 25px;
  margin-top: 8px;
}

#chat_window .gear-icon {
  right: 3px;
  padding-top: 8px;
  float: right;
  width: 40px;
  height: 40px;
}

#chat_window #close-button {
  right: 17px;
  bottom: 21px;
}

#chat_window .chat-text-item {
  z-index: 3;
  padding-top: 30px;
}

#chat_window .chatbox-height-item {
  height: 103%;
  padding-top: 10px;
}

#chat_window .sent_message,
#chat_window .received_message {
  padding: 5px 12px !important;
  margin: 0 !important;
  background: #dedfee;
  font-size: 14px;
  color: #000;
}

#chat_window .sent_message::after,
#chat_window .received_message::after {
  background: #dedfee;
}

#chat_window .chat-received-avatar {
  left: 0;
}

#chat_window .chat-sent-avatar {
  right: 0;
}

#chat_window .sb-avatar__text,
#chat_window .sb-avatar.sb-avatar--text {
  width: 35px !important;
  height: 35px !important;
}

#chat_window .chat-window-settings {
  height: 50px;
  top: 60px;
  z-index: 1;
  opacity: 1;
}

#chat_window .chat-window-settings-active {
  height: 50px;
}

#chat_window .delete-conversations {
  padding-top: 25px;
}

.sb-avatar__text span {
  font-size: 11px !important;
}

#chat_window .chat-sent-avatar .sb-avatar__text {
  background: rgb(19, 205, 137) !important;
}

#chat_window #chat-text {
  margin-top: -40px !important;
  height: 65px !important;
  background-color: #f1f1f1 !important;
  border-width: 3px 0 0 0 !important;
  padding-left: 20px !important;
}

#chat_app {
  width: 90%;
  margin: auto auto 30px;

  // Hide scrollbar but still have it scrollable
  &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  @include mq(custom, max, 1175) {
    margin: auto auto 70px;
  }

  @include mq(custom, max, 550) {
    display: none;
  }
}

#chat_app:empty {
  display: none;
}
