.content_history {
  .messages-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;

    #content_history {
      position: relative;
      // z-index: 1;
      background-color: #f7f7f7;
      left: 0;
      bottom: 0px;
      width: 100%;
      max-width: 400px;
      border-right: 1px solid #e6e6e6;
      overflow-x: hidden;

      @include mq(custom, max, 900) {
        max-width: 300px;
      }

      @include mq(custom, max, 640) {
        max-width: 100%;
        left: 0;
      }

      .select-dropdown {
        margin: 0px !important;
      }

      .title_sortby {
        padding: 10px 0px 10px 7px;
        font-weight: bold;
      }

      .load_more {
        padding: 25px 20px 20px 20px;
        text-align: center;
      }

      i {
        font-size: 28px;
      }

      .header {
        padding: 20px;
        border-bottom: 2px solid #e6e6e6;

        .header_title {
          color: #252525;
          font-size: 25px;
          font-weight: bold;
          padding-bottom: 10px;
        }

        .utility {
          color: #252525;
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .detail_block_container {
        .detail_block_wrapper {
          padding: 0;
          width: 100%;
          height: 100%;
          overflow-y: auto;

          .detail_block_group {
            border-bottom: 2px solid #e6e6e6;
            display: block;

            .detail_block {
              padding: 20px;
              border-right: 24px solid #4e05e7;

              &.has_read {
                border-right: 12px solid rgb(0, 0, 0);

                .date {
                  color: #959595;
                }
              }

              .title {
                color: #222222;
                font-size: 16px;
                font-weight: bold;
              }

              .excerpt {
                color: #222222;
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 7px;
              }

              .date {
                color: #4e05e7;
              }

              a {
                text-decoration: none;
              }
            }

            &:hover {
              background-color: #f0f0f0;
            }

            &.active {
              background-color: #e6e6e6;
            }
          }
        }
      }

      &.show_category {
        #content_history_category_wrapper {
          display: block;
          padding-top: 15px;
        }

        .detail_block_container {
          top: 187px;
        }
      }
    }

    #message-content {
      width: 100%;
      height: 100%;
      padding: 40px;
      margin-top: 0;
      overflow-y: auto;

      @include mq(custom, max, 640) {
        display: block;
        position: absolute;
        background: #fff;
        height: 100%;
        left: -100%;
        top: 0;
        margin-top: 64px;
        z-index: 10;
        transition: left 0.3s ease;

        &.show {
          left: 0;
          transition: left 0.3s ease;
          opacity: 1 !important;
        }
      }

      @include mq(custom, max, 550) {
        height: calc(100% - 125px);
      }

      .nav-toggle {
        display: none;
        position: absolute;
        z-index: 9999;
        text-align: center;
        border: 2px solid #16cd8a;
        border-radius: 100%;
        height: 44px;
        width: 44px;
        vertical-align: middle;
        right: 25px;
        top: 30px;
        cursor: pointer;
        background: #ffffff;
        border-radius: 25px;

        @include mq(custom, max, 640) {
          display: block;
          z-index: 20;
        }

        i {
          font-size: 60px;
          color: $teal;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            margin: 0;
            line-height: 40px;
            width: 59px;
          }
        }
      }

      #message_detail {
        .message_detail_image {
          margin-bottom: 40px;

          img {
            width: 100%;
          }
        }

        .message_detail_content {
          .message_detail_download_wrapper  {
            margin-bottom: 40px;
          }
        }

        .message_detail_options {
            text-align: left;
            font-size: 24px;
            width: 100%;
            margin: 10px 0;
          }
      }
    }

    #messageMove {
      .nav-toggle.nav-toggle-class i {
        z-index: 9;
        color: #16cd8a;
        font-size: 44px !important;
        line-height: 0;
      }

      &.messages-mobile-toggle.move-this-left {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100%;
        top: 65px;
        overflow-y: auto;
        position: fixed;
        z-index: 9;
        display: none;
      }
    }
  }
}

.nav-toggle.nav-toggle-class.show-mobile {
  display: block;
}

#messageMove.messages-mobile-toggle.move-this-left {
  display: block;
}

#message_detail .message_detail_meta {
  display: block;
  width: 100%;
}

#message_detail h1 {
  font-size: 16px;
  max-width: 100%;
}

#message_detail p {
  font-size: 14px;
  line-height: 22px;
  max-width: 100%;
}

#message_detail .message_detail_content {
  padding-bottom: 0px;
  height: inherit;
}

#message_detail .message_detail_gallery {
  margin-bottom: 10px;
}


#message_detail .message_detail_options_wrapper {
  margin-top: 30px;
  padding-bottom: 60px;
}

#message_detail {
  padding: 15px 15px 100px 15px;
}

#message_home {
  max-width: 100vw;
}

.hide-mobile {
  display: none !important;
}

// #message_detail .message_detail_image img {
//   max-width: 100px;
// }

.messages-page {
  #app-container #content #page {
    overflow: hidden;

    .messages-wrapper {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;

      // #content_history {
      //   border: 2px solid red;
      // }
    }
  }
}
