#content_filter_form {
  color: #252525;
  font-size: 18px;
  font-weight: normal;
  padding-left: 6px;

  .title_sortby {
    padding: 10px 0px 10px 7px;
    font-weight: bold;
  }

  i {
    font-size: 28px;
  }

  .dropdown-menu a.active {
    font-weight: bold;
  }

  .dropdown-menu a {
    font-size: 14px;
    white-space: nowrap;
    padding: 5px 10px;
    display: block;
  }
}

.content_filter_container {
  background-color: #f6f6f6;
  padding: 20px 25px;
  margin-bottom: 30px;

  .filter_options_toolbar {
    font-weight: bold;
    font-size: 20px;
    position: relative;
  }

  .filter_options_title {
    vertical-align: middle;
    line-height: 24px;
    padding: 6px 0 0 0;
    display: inline-block;
    position: relative;
  }

  .filter_options_title i {
    font-size: 25px;
    // position: absolute;
    // top: 3px;
    // left: 0px;
  }

  .filter_options {
    display: none;
    padding-top: 20px;
  }

  .filter_block {
    // border-top: 1px solid #e9e9f3;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .filter_block strong {
    padding-bottom: 10px;
    display: block;
  }

  .filter_pill {
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    background-color: #37b989;
    color: #ffffff !important;
    padding: 8px 16px 6px;
    border-radius: 30px;
    margin: 2px;
    font-size: 12px;
  }

  .filter_pill:hover {
    background-color: #33a67b;
  }

  .filter_pill span {
    color: #ffffff;
    margin-right: 6px;
  }

  .filter_pill.inactive,
  .filter_pill.inactive:hover {
    background-color: #c4c4c4 !important;
  }

  .filter_pill.inactive span {
    display: none;
  }

  .filter_update {
    text-align: right;
  }

  .filter_tools {
    position: absolute;
    top: -10px;
    right: 0px;

    i {
      font-size: 30px;
    }

    span {
      display: inline-block;
    }

    .dropdown-menu {
      a {
        padding: 0 10px 0 10px !important;
        font-weight: normal !important;

        &:hover {
          padding: 0 10px 0 10px !important;
          background-color: #eaedf0 !important;
        }

        &:active {
          background-color: #eaedf0 !important;
          font-weight: bold !important;
        }
      }

      div {
        padding: 5px 15px 0px 10px !important;
      }
    }
  }

  .filter_search {
    padding-left: 10px;

    #filter_search_form {
      min-width: 230px;

      input {
        background-color: #ffffff;
        width: inherit;
        vertical-align: middle;
        padding: 14px 0px 10px 10px;
        font-size: 15px;
        line-height: 20px;
        width: calc(100%);
      }

      i {
        right: 0;
        height: 46px;
      }
    }
  }
}
