#content_resources {
    margin: 5px auto 20px;
}

#content_resources h4 {
    font-weight: bold;
    text-transform: none;
    color: #999;
    display: block;
    border-bottom: 2px solid #eee;
    padding: 0 5px 10px;
}

#content_resources a {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    padding: 5px 10px;
    background: #999;
    border-radius: 4px;
    color: #fff;
    margin-right: 4px;
}

#content_resources a:hover {
    background: #4e05e7;
}