/*Data Cards */
.card .btn-icon {
    background: #4e05e7;
    color: #fff !important;
}

.card .avatar {
    width: 120px;
    height: 120px;
}

.card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card.data {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #d9d9d9;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card.data .card-body h4 {
    font-weight: 600;
    text-transform: none;
    color: #000;
}

.card.data .card-body h6:not(.dropdown-header) {
    text-transform: uppercase;
    font-size: 14px;
    color: #16cd8a;
}

.card.data .card-body p {
    color: #777;
    margin: 0px;
}
