/* Event Popup */
#event_popup {}

#event_popup .event_date {
    padding-bottom: 10px;
}

#event_popup .event_location {
    padding-bottom: 10px;
}

#event_popup .event_assets {
    padding-bottom: 10px;
}

#event_popup i {
    margin-right: 10px;
    font-size: 17px;
    width: 24px;
}

#event_popup .event_action {
    padding-top: 10px;
    border-top: 1px solid #cccccc;
    text-align: right;
}

#event_popup .event_action a {
    margin-left: 20px;
}

#event_popup .event_like_dislike a {
    color: #5e5e5e;
}

#event_popup .event_like_dislike a.user_selected {
    color: #7279b6;
}

#event_popup .event_like_dislike a #like_count,
#event_popup .event_like_dislike a #dislike_count {
    font-size: 14px;
}

#event_filter {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#event_filter .category_block {
    display: inline-block;
    margin-right: 15px;
}

#event_filter .category_block a {
    display: inline-block;
}

#event_filter .category_colour {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #cccccc;
}

#event_filter .category_title {
    display: inline-block;
    height: 20px;
    font-size: 14px;
    vertical-align: super;
    padding: 5px 0 0 0;
    font-weight: 600;
}

#event_filter .category_block.inactive a {
    color: #cccccc !important;
}

#event_filter .category_block.inactive a:hover {
    color: #cccccc !important;
}

#event_filter .category_block.inactive .category_colour {
    background-color: #eeeeee !important;
}

.fc-day-grid-event {
    margin: 1px 7px 0 !important;
}