#event_form {
  .btn.outline-button.cancel.event {
    top: 60px;

    @include mq(custom, max, 750) {
      top: 40px;
    }

    @include mq(custom, max, 550) {
      top: 0;
      margin-bottom: 20px;
    }
  }

  .form-group > * {
    @include mq(custom, max, 550) {
      margin-bottom: 15px !important;
    }
  }
}
