th.forms_status {
    width: calc(5%) !important;
}

th.forms_name {
    width: calc(35%) !important;
}

th.forms_rec {
    width: calc(35%) !important;
}

th.forms_ent {
    width: calc(5%) !important;
}

th.forms_update {
    width: calc(15%) !important;
}

th.forms_menu {
    width: calc(5%) !important;
}

