/* Load Screen - JC & Troth */
#loading_container {
  display: none !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.85);
}
#loading_container .progress {
  max-width: 480px;
  margin: auto;
  height: 24px;
}
#loading_container .progress-bar {
  background: #21cf8f;
}

#loading_container .progress.hide {
  opacity: 0;
}

#loading_container i {
  color: #bbbbc3;
  font-size: 70px !important;
}

#loading_container p {
  font-weight: normal;
  font-size: 19px;
}

#loading_container.active:not(.force_hide) {
  display: flex !important;
}

#loading_container.force_hide.active {
  display: none !important;
}

#loading_container .load_screen {
  display: none;
}

#loading_container.load_1 #load_1,
#loading_container.load_2 #load_2,
#loading_container.load_3 #load_3,
#loading_container.load_4 #load_4 {
  display: block;
}

@media (max-width: 1175px) {
  #loading_container h3 {
    margin-left: auto !important;
  }
}

#loading_container h3 .load_screen {
  width: 300px;
  position: relative;
  top: -60px;
}

.active #app-container #loading_container {
  background-color: transparent;
}

.active #app-container #loading_container h3 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100%;
  margin-left: 320px !important;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  top: 64px;
}
