th.locations_location {
  width: calc(15%) !important;
}

th.locations_brand {
  width: calc(20%) !important;
}

th.locations_city {
  width: calc(10%) !important;
}

th.locations_address {
  width: calc(30%) !important;
}

th.locations_users {
  width: calc(5%) !important;
}

th.locations_manager {
  width: calc(15%) !important;
}

th.locations_menu {
  width: calc(5%) !important;
}

#Location_listing {
  #data_top_bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @include mq(custom, max, 550) {
      flex-wrap: wrap;
    }

    #data_search {
      width: 230px;
      max-width: 230px;

      @include mq(custom, max, 550) {
        width: 100%;
        max-width: 100%;
      }
    }

    .btn-group {
      @include mq(custom, max, 550) {
        width: 100%;
        max-width: 100%;

        #location_brand_form {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

#location_form {
  .form-group > * {
      @include mq(custom, max, 550) {
        margin-bottom: 15px !important;
      }
  }
}
