#home_message_container {
  display: flex;
  width: 100%;
  min-height: 250px;

  @include mq(custom, max, 1200) {
    flex-wrap: wrap;
  }

  .message_block {
    width: 100%;
    min-width: 250px;
    max-width: 650px;
    height: 100%;
    text-align: left;
    padding-left: 26px;
    border-radius: $br;
    // box-shadow: $box-shadow;

    @include mq(custom, max, 1500) {
      min-width: 200px;
    }

    @include mq(custom, max, 1200) {
      height: auto;
      margin-bottom: 26px;
      max-width: 100%;
      padding-left: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(custom, max, 950) {
      margin-bottom: 15px;
      padding-left: 15px;
    }

    @include mq(custom, max, 650) {
      padding-left: 0;
    }

    .message_group {
      position: relative;
      height: 100%;
      margin: 0;

      .dropdown {
        position: absolute;
        right: 20px;
        top: 10px;

        #dropdownMenuButton {
          i {
            font-size: 30px;
            color: #777777;
            opacity: 0.6;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
        }
      }

      .dropdown-menu {
        .dropdown-item {
          display: flex;
          align-items: center;

          i {
            position: relative;
            font-size: 15px;
            margin-left: 7px;
          }

          span {
            margin-top: 3px;
          }

          &:hover {
            i {
              color: #ffffff;
            }
          }
        }
      }

      .message_content {
        border-radius: $br;
        padding: 30px;
        background-color: #f6f6f6;
        height: 100%;

        .message_body {
          margin-bottom: 30px;

          .message_category {
            text-transform: uppercase;
            font-size: 14px;
          }

          .message_name {
            font-size: 20px;
            font-weight: bold;
          }

          .message_date {
            font-size: 12px; 
            opacity: 0.7;
          }

          .message_excerpt {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .no-message-content {
    background: url("../../img/bg/no-message-bg.svg") center left/cover no-repeat;
    background-color: #f6f6f6;
    border-radius: $br;
    padding: 30px;
    margin-left: 26px;

    @include mq(custom, max, 950) {
      margin-left: 15px;
    }

    @include mq(custom, max, 650) {
      margin-left: 0;
    }

    .text-wrapper {
      max-width: 250px;
      display: flex;
      height: 100%;
      align-items: center;

      p {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
