/* Mobile Sort Popup */
#mobile-filterContentDropdownWrapper {
    display: none;
}

#mobile-filterDropdownWrapper {
    display: none;
}

.mobile_sort_wrapper a {
    font-size: 14px;
}

.mobile_sort_active a {
    color: #16cd8a !important;
    font-weight: bold !important;
}