.profile-info {
    .left {
        min-width: 200px;

        @include mq(custom, max, 930) {
          margin-bottom: 10px;
        }
    }

    .right {
        @include mq(custom, max, 930) {
            margin-left: 25px;
          }
    }
}