/*  Profile  */
#content_thumbnail_group.existing .file_image_container,
#content_media_group.existing .file_image_container {
    margin-left: 108px !important;
}

.content_media_existing_cancel,
.content_thumbnail_existing_cancel {
    display: none;
}

.content_media_existing_cancel a,
.content_thumbnail_existing_cancel a {
    margin-right: 5px !important;
}

.file_image_preview {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0px;
    width: 98%;
    height: 160px;
}

.file_image_preview input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.file_image_preview span {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    font-size: 18px;
}

.file_image_preview:hover span {
    opacity: 1;
}

.file_image_preview.cover {
    height: 200px;
}

.file_image_preview.cover span {
    line-height: 200px;
}

.file_image_preview.logo {
    background: #666;
    padding: 8px;
    max-width: 200px;
    height: 90px;
}

.file_image_preview.logo span {
    line-height: 86px;
}

.file_image_preview img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.file_image_preview.logo img {
    object-fit: contain;
    object-position: center;
}

#profile_pic_container {
    width: 80%;
    max-width: 480px;
    margin: 0px auto;
    text-align: center;
}

#profile_pic_container .profile_pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#profile_pic_container .profile_pic input[type="file"],
#profile_cover_container .profile_cover input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

#profile_pic_container .profile_pic img,
#profile_cover_container .profile_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#profile_pic_container .profile_pic .pic_shadow,
#profile_cover_container .profile_cover .pic_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#profile_pic_container .profile_pic span,
#profile_cover_container .profile_cover span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -36px -56px;
    z-index: 3;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#profile_cover_container .profile_cover span {
    margin: -72px -42px !important;
    z-index: 1;
}

#profile_cover_container .profile_cover .pic_shadow {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
}

#profile_pic_container .profile_pic i,
#profile_cover_container .profile_cover i {
    display: block;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
}

#profile_pic_container .profile_pic:hover .pic_shadow,
#profile_pic_container .profile_pic:hover span,
#profile_cover_container .profile_cover:hover .pic_shadow,
#profile_cover_container .profile_cover:hover span {
    opacity: 1;
}

#groups_container {
    position: relative;
    padding: 40px;

    @include mq(custom, max, 750) {
      padding: 20px;
    }
}