#reports_container div[data-report-type] {
  background: #4e05e7;
  text-align: center;
  margin-right: 20px;
  border-radius: 0;
  overflow: hidden;
  color: #fff;
  padding: 20px 10px;
  transition: all 0.3s ease-in-out;
}

div[data-report-type="realtime_sessions"] {
  cursor: pointer;
}

div[data-report-type="realtime_sessions"]:hover * {
  opacity: 0.5;
}

div[data-report-type="realtime_sessions"].active * {
  color: #48efb3 !important;
}

#reports_container div[data-report-type] i[data-icon] {
  font-size: 24px;
  display: block;
  line-height: 0;
  transition: all 0.3s ease-in-out;
}

// #reports_container div[data-report-type] strong {
//   display: inline-block;
//   color: #fff;
//   font-size: 14px;
//   margin: 0 auto;
//   transition: all 0.3s ease-in-out;
// }

#reports_container div[data-report-type] .report_value {
  font-size: 24px;
  margin: 0;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 32px;
  height: 32px;
  transition: all 0.3s ease-in-out;
}
// #reports_container h3 small {
//   color: #16cd8a;
//   font-weight: bold;
//   padding: 4px;
// }

#reports_container table td {
  font-size: 14px;
}

#reports_container table th {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

#reports_filters .reload_reports_btn {
  margin: 32px 20px 0 !important;
}

.brand_permissions {
  display: none;
}

.permissions_option {
  display: none;
}

th.reporting_name {
  width: calc(33.333333%) !important;
}

th.reporting_current {
  width: calc(33.333333%) !important;
}

th.reporting_last {
  width: calc(33.333333%) !important;
}

/**/
th.reporting_location {
  width: calc(40%) !important;
}

th.reporting_users {
  width: calc(40%) !important;
}

/**/
th.reporting_email {
  width: calc(25%) !important;
}

th.reporting_sessions {
  width: calc(15%) !important;
}

th.reporting_sessionTime {
  width: calc(20%) !important;
}

th.reporting_total {
  width: calc(20%) !important;
}

th.reporting_lastTwo {
  width: calc(20%) !important;
}

.dataTables_info {
  font-size: 12px;
  color: #999;
  padding: 0 !important;
}

th.sorting::before,
th.sorting_asc::before,
th.sorting_desc::before {
  top: 6px;
}

th.sorting::after,
th.sorting_asc::after,
th.sorting_desc::after {
  top: 8px;
}

#reports_date_range_toolbar {
  min-width: 240px;
  position: relative;
}

#reports_date_range_toolbar h4 {
  margin: 0;
  padding: 15px 5px;
  cursor: pointer;
}

#reports_date_range_toolbar i {
  font-size: 16px;
  color: #999;
  margin-right: 5px;
}

#reports_date_range_toolbar #reports_date_range_label {
  font-size: 16px;
  text-transform: none;
  font-weight: bold;
  color: #000;
}

#reports_date_range_toolbar #reports_date_range {
  position: absolute;
  right: 0px;
  top: 42px;
  width: 100%;
  padding: 20px;
  background: #fff;
  border: none;
  text-align: center;
  display: none;
  z-index: 4;
  border-radius: 5px;
  box-shadow: $bs;
}

#reports_date_range_toolbar.active #reports_date_range {
  display: block;
}

#reports_date_range_toolbar #reports_date_range label {
  color: #000;
  text-transform: none;
  margin: 10px auto !important;
  display: block;
  font-size: 16px;
}

#reports_date_range_toolbar #reports_date_range input {
  margin: 5px auto !important;
  text-align: center;
}

#user_realtime_sessions_container {
  display: none;
}

#user_realtime_sessions_container.active {
  display: block;
}

div.dataTables_wrapper div.dataTables_paginate {
  padding: 0 !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 0 !important;
}

/* Single report data */
#reports_container .single_report_data {
    padding: 24px;
    margin: -10px auto 20px;
    display: block;
    width: 100%;
    background: #f5f6fc;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    small {
        opacity: 0.3;
    }
    
    h3 {
        margin: 5px auto 0;
        color: #4e05e7;
        font-size: 20px;
    }

  small {
    opacity: 0.3;
  }

  h3 {
    margin: 5px auto 0;
    color: #4e05e7;
    font-size: 20px;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  hr {
    margin: 20px auto;
    border-color: #d9d9d9 !important;
  }

  &::before {
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  &:empty {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:hover::before {
    content: "Click here to clear filters";
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    background: #f5f6fc;
    padding: 5px;
    opacity: 1;
    z-index: 1;
    font-weight: bold;
  }
}

#reports_content_filter {
  border-radius: 5px;

  .filter_options_toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .filter_options_title {
      margin: 0;
      padding: 0;
      width: 50%;

      @include mq(custom, max, 550) {
        width: 100%;
        margin-bottom: 20px;
      }

      a {
        display: flex;
        align-items: center;

        i::before {
          margin-left: 0;
        }

        p {
          margin: 0;
          display: flex;
          align-items: center;
        }
      }
    }

    .filter_tools {
      position: relative;
      top: auto;
      right: auto;
      width: 50%;
      text-align: right;

      @include mq(custom, max, 550) {
        width: 100%;
        text-align: left;
      }

      #reports_date_range_toolbar {
        h4 {
          padding: 0;
        }
      }
    }
  }
}

#reports-page {
  .reporting_nav {
    display: flex;
    list-style: none;
    margin-bottom: 20px;

    li {
      flex: 1;

      &.overview {
        a {
          border-radius: 5px 0 0 5px;
        }
      }

      &.training {
        a {
          border-radius: 0 5px 5px 0;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
        font-size: 22px;
        font-weight: 700;
        color: #333333;
        background: $bg;

        &:hover {
          background: #e9e9e9;
        }

        &.active {
          color: #ffffff;
          background: $indigo;

          .icon {
            display: block;
          }
        }
      }
    }
  }

  // #reports-page {
  //   border: 2px solid red;

  #content_wrapper {
    padding-top: 0;

    .report-info {
      .info-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        @include mq(custom, max, 650) {
          grid-template-columns: repeat(2, 1fr);
        }

        .quick-links {
          border-radius: $br;

          &:nth-child(1) {
            background: #16cd8a;

            &:hover {
              color: #ffffff;
            }
          }
          &:nth-child(2) {
            background: #91a8f6;
          }

          &:nth-child(3) {
            background: #4e05e7;
          }

          &:nth-child(4) {
            background: #333333;
          }

          i {
            margin-bottom: 10px;
          }

          p {
            margin-top: 10px;
          }
        }
      }
    }

    #reports_container {
      #reporting_page {
        .charts-wrapper {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 20px;
          margin-top: 40px;

          .chart {
            padding: 20px;
            background: $bg;
            border-radius: $br;
            overflow-y: auto;

            &#user_realtime_sessions_container {
              grid-column: 1/7;
            }

            &.users {
              grid-column: 1/3;

              @include mq(custom, min, 2500) {
                grid-column: 1/2;
              }

              @include mq(custom, max, 1440) {
                grid-column: 1/3;
              }

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }

              #users_count_by_type_container {
                @include mq(custom, max, 800) {
                  canvas {
                    height: 240px !important;
                    width: auto !important;
                    margin: 0 auto;
                  }
                }

                @include mq(custom, max, 450) {
                  canvas {
                    height: auto !important;
                    width: 100% !important;
                    margin: 0 auto;
                  }
                }
              }
            }

            &.overview {
              grid-column: 3/7;

              @include mq(custom, min, 2500) {
                grid-column: 2/5;
              }

              @include mq(custom, max, 1440) {
                grid-column: 3/7;
              }

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }
            }

            &.active-users {
              grid-column: 1/7;

              @include mq(custom, min, 2500) {
                grid-column: 5/7;
              }

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }

              h3 #user_sessions_count {
                background: $teal;
                color: #ffffff;
                padding: 9px 14px 7px;
                border-radius: 40px;
                font-weight: 700;
                position: relative;
                top: -6px;
              }
            }

            &.pageviews {
              grid-column: 1/7;
              
              @include mq(custom, min, 2000) {
                grid-column: 1/4;
              }
            }

            &.sessions {
              grid-column: 1/7;

              @include mq(custom, min, 2000) {
                grid-column: 4/7;
              }
            }

            &.visits-page {
              grid-column: 1/4;

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }
            }

            &.visits-hour {
              grid-column: 4/7;

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }
            }

            &.form-entries {
              grid-column: 1/4;

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }
            }

            &.total {
              grid-column: 4/7;

              @include mq(custom, max, 800) {
                grid-column: 1/7;
              }
            }

            &.training-activity {
              grid-column: 1/7;
            }

            &.top-training {
              grid-column: 1/7;
            }

            &.top-users {
              grid-column: 1/7;
            }

            table {
              thead {
                tr {
                  th:first-child {
                    border-radius: $br-sm 0 0 $br-sm;
                  }

                  th:last-child {
                    border-radius: 0 $br-sm $br-sm 0;
                  }
                }
              }

              tbody {
                tr {
                  border-radius: $br-sm;

                  &:nth-child(2n + 2) {
                    background: #e8e8e8;
                    border-radius: $br-sm;

                    &:hover {
                      background: #e8e8e8;
                    }
                  }

                  td {
                    &:first-child {
                      border-radius: $br-sm 0 0 $br-sm;
                    }

                    &:last-child {
                      border-radius: 0 $br-sm $br-sm 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
