nav ul li a:hover {
    background-color: transparent !important;
}

#toast-container>div,
.badge,
.btn,
.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn:disabled:active,
.btn:disabled:focus,
.btn:disabled:hover,
.card,
.card-wrapper .back,
.card-wrapper .front,
.card.card-cascade.wider .card-body,
.counter,
.dropdown-content,
.jumbotron,
.md-pills .nav-link.active,
.md-pills .show>.nav-link,
.mdb-autocomplete-wrap,
.media .media-left img,
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
.navbar,
.pagination .page-item.active .page-link,
.pricing-card .price .version,
.side-nav,
.side-nav .logo-wrapper.sn-avatar-wrapper img,
.z-depth-1 {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16),
        0 0px 0px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12) !important;
}

.form-check.checkbox-rounded.checkbox-success-filled.form-group.send-invitation {
    padding-left: 0 !important;
}

i.icon-nav-profile.nav-light.blue-profile-tab,
.icon-nav-settings.nav-light.blue-profile-tab,
.icon-sidenav-fav.nav-light.blue-profile-tab,
.icon-sidenav-permissions.nav-light.blue-profile-tab,
.icon-sidenav-home.nav-light.blue-profile-tab {
    font-size: 24px;
    margin-right: 10px;
}

.classic-tabs li a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}

#profile_img_form {
    margin-top: 30px;
}