/*Training View*/
.training_view {
    display: none;
}

.training_view.active {
    display: block;
}

#training_view_switch {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    border: 1px solid #e6e6ee;
    border-radius: 0;
    background-color: #f5f5fc;
    display: inline-flex;
    

    @include mq(custom, max, 550) {
        width: 100%;
        margin: 0 0 10px;
    }
    
    li {
        display: inline-block;
        padding: 15px 24px 15px;
        border-right: 1px solid #e6e6ee;
        color: #777;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @include mq(custom, max, 550) {
            width: 33.33333333%;
            padding: 10px;
            text-align: center;
        }
    }
}

#training_view_switch li:hover {
    background-color: #f6f6f6;
}

#training_view_switch li:last-child {
    border-right: none;
}

#training_view_switch li.active {
    color: #fff;
    background-color: #16cd8a;
    font-weight: bold;
}

/* Training Filter Options */
#training_filter_container .filter_options_title {
    font-weight: bold;
    font-size: 20px;
}

#training_filter_container {
    background-color: #f5f6fc;
    padding: 20px 25px;
    margin-bottom: 30px;
}

#training_filter_container .filter_options {
    display: none;
    padding-top: 20px;
}

#training_filter_container .filter_block strong {
    padding-bottom: 10px;
    display: block;
}

#training_filter_container .filter_block {
    border-top: 1px solid #e9e9f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

#training_filter_container .filter_pill {
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    background-color: #37b989;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 30px;
    margin: 2px;
    font-size: 12px;
}

#training_filter_container .filter_pill span {
    color: #ffffff;
    margin-right: 6px;
}

#training_filter_container .filter_pill.inactive {
    background-color: #c4c4c4;
}

#training_filter_container .filter_pill.inactive:hover {
    background-color: #c4c4c4;
}

#training_filter_container .filter_pill.inactive span {
    display: none;
}

#training_filter_container .filter_pill:hover {
    background-color: #33a67b;
}

#training_filter_container .filter_update {
    text-align: right;
}

/* Training */
#training_container {
    /*margin-bottom: 50px;*/
}

.training_group {
    margin: 10px;
    position: relative;
}

.training_icon {
    background-image: url("../img/icons/sidenav-training-grey.svg");
    background-repeat: no-repeat;
    background-size: 70px auto;
    background-position: center center;
    background-color: #ebf8f3;
    width: 100%;
    padding-top: 60%;
}

#training_pagination {
    width: 100%;
    padding-bottom: 50px;
}

#training_pagination a {
    width: 100%;
    display: block;
    text-align: center;
}

.training_content {
    padding: 20px 16px;
    background-color: #f5f6fc;
}

.training_wrapper .training_group .training_name {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.35;
}

.training_wrapper .training_group .training_date {
    font-size: 12px;
    padding-bottom: 8px;
    color: #777777;
}

.training_wrapper p.training_excerpt {
    color: #777;
    font-size: 13px;
    line-height: 20px;
}

.training_wrapper a.training_url {
    color: #555555;
    font-weight: bold;
    text-align: center;
}

.training_wrapper .training_action {
    display: block;
    text-align: center !important;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    background-color: #16cd8a;
    color: #fff !important;
}

.training_wrapper .training_action:hover {
    opacity: 0.8;
}

.training_wrapper {
    text-align: center;
}

.training_wrapper .training_body {
    margin-bottom: 1em;
    text-align: center;
}

.training_wrapper .light_blue {
    background-color: #4e05e7;
    color: #ffffff;
}

.training_wrapper .dark_blue {
    background-color: #4e05e7;
    color: #ffffff;
}

.training_wrapper .training_progress_block {
    width: 100%;
    height: 38px;
    position: relative;
}

.training_wrapper .training_progress_block .title {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    background-color: #16cd8a;
}

.training_wrapper .training_progress_block .gage {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50%;
    z-index: 1;
}

#training_html #content_details .content_details_image.training_icon {
    background-size: 70px auto !important;
    padding-top: 0px;
    background-color: #ebf8f3 !important;
    background-position: 33% center !important;
}

#training_html #content_description {
    padding-bottom: 15px;
}

#training_html #content_related,
#training_html #content_reqiured {
    padding-bottom: 10px;
}

#training_html .back_to_content {
    padding-top: 20px;
    display: none;
    padding-bottom: 10px;
}

#training_html #content_block_title,
#training_html #content_lesson_title,
#training_html #complete_next_title {
    padding-top: 50px;
    padding-bottom: 0px;
}

#training_html #user_rating_group {
    padding-top: 20px;
}

#training_html .is_lesson,
#training_html .is_course,
#training_html .is_program,
#training_html .is_training_complete {
    display: none;
}

#training_html #user_rating_group {
    padding-bottom: 15px;
}

#training_html #content_details {
    margin-bottom: 30px;
}

#training_html #content_details .content_details_image {
    background-color: #eeeeee;
    min-height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#training_html #content_details .content_details_data {
    color: #ffffff;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 50px;
    vertical-align: middle;
    width: 33%;
}

#training_html #content_details .certificate_complete {
    display: none;
}

#training_html #content_details .content_details_data_complete {
    text-align: center;
    background-color: #16cd8a;
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 50px;
    vertical-align: middle;
    width: 33%;
}

#training_html #content_details .content_details_data_complete h3 {
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
}

#training_html .lesson_complete_score {
    padding-bottom: 30px;
}

#training_html .certificate_complete a {
    display: block;
}

#training_html .needs_rating {
    display: none;
}

#training_html .needs_rating_stars {
    padding: 15px 0px;
}

#training_html .starrr .fa,
#training_html .starrr .far {
    font-size: 20px;
    color: #16cd8a;
}

#training_html .needs_rating .starrr .fa,
#training_html .needs_rating .starrr .far {
    font-size: 30px;
}

#training_html .rate_title {
    font-weight: bold;
    padding-bottom: 10px;
}

#training_html .rate_description {}

#training_html .has_rating {
    line-height: 24px;
    font-size: 16px;
    display: none;
}