/* Assets */

.points_badge {
    position: absolute;
    background: orange;
    color: #FFF;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    top: 0;
    right: 0;
    z-index: 10;
}
.asset_block .svg_icon {
  margin-bottom: 20px;
}

.asset_block.home_asset_block {
  margin: 10px;
  padding: 11px 7px;
}

.asset_block {
  background-color: #f5f6fc;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
}

#asset_container .asset_wrapper {
}

#asset_container .asset_group {
  background-color: #fbfbfb;
  margin: 10px;
}

#asset_container .asset_icon {
  min-height: 100px;
  min-width: 100px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px auto;
}

.asset_content {
  text-align: center;
  position: relative;
  color: #555555;
  padding: 30px;
}

.asset_title {
  font-size: 18px;
}

.asset_title_bar_wrapper {
  width: 100%;
  padding: 15px 0px;
}

.asset_title_bar {
  background-color: #16cd8a;
  width: 30px;
  height: 3px;
  margin: 0px auto;
}

.asset_excerpt {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 15px;
}

.asset_file_details {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #999;
  display: none;
}

.asset_category {
  display: none;
}

.asset_options {
  text-align: center;
}

.asset_options a {
  width: 40px !important;
  display: inline-block;
  font-size: 25px !important;
  height: 35px;
}

.asset_block.home_asset_block .asset_options a {
  width: 30px !important;
  font-size: 20px !important;
  height: 30px;
}

.asset_options a.asset_user_selected {
  color: #7279b6;
}

.asset_options a .asset_like_count {
  font-size: 14px;
}

.asset_group {
  margin: 10px 10px 10px 10px;
}

/* Asset Details */
#asset_detail {
  display: flex;
}

#asset_detail h1 {
  margin: 15px auto;
}

#asset_detail .asset_detail_icon_wrapper {
  width: 100%;
}

#asset_detail .asset_detail_icon {
  width: 100%;
  height: 320px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px auto;
}

#asset_detail .asset_detail_icon img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#asset_container .asset_icon img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 140px;
}

#asset_container #asset_blocks .asset_options a {
  font-size: 25px;
}

#asset_detail .like_dislike_wrapper {
  background-color: #ebebeb;
}

#asset_detail .like_dislike_wrapper .like_dislike_inner {
  margin: 0 auto;
}

#asset_detail .like_dislike_wrapper .like_dislike_inner a {
  font-size: 20px;
  padding: 0 10px;
  color: #5e5e5e;
}

#asset_detail .like_dislike_wrapper .like_dislike_inner a.user_selected {
  color: #7279b6;
}

#asset_detail .like_dislike_wrapper .like_dislike_inner a #like_count,
#asset_detail .like_dislike_wrapper .like_dislike_inner a #dislike_count {
  font-size: 16px;
}

#asset_detail .asset_detail_content_wrapper {
  padding: 12px 24px;
  width: 100%;
}

#asset_detail .asset_detail_content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;
}

#asset_detail .asset_detail_options_wrapper {
  display: flex;
}

#asset_detail .asset_detail_file_meta {
  flex: 1;
  font-size: 14px;
}

#asset_detail .asset_detail_options {
  flex: 1;
  text-align: right;
  font-size: 25px;
}

#asset_detail .asset_detail_options i {
  padding: 0 2%;
}

#asset_detail .asset_detail_options img {
  width: 50px;
}

#asset_detail .asset_detail_file_name {
  text-transform: uppercase;
}

#asset_detail .asset_detail_file_size {
  text-transform: uppercase;
}

#asset_detail .asset_detail_content h4 {
  margin-bottom: 22px;
}

#asset_comments_form {
  padding-left: 7px;
}

/* Assets navigation */
#asset_dislike i,
#event_dislike i {
  transform: rotate(180deg) !important;
  display: inline-block;
}

#event_dislike i {
  padding-right: 10px;
}

#asset_dislike i.modzee-icon-thumbs-up,
#asset_like i.modzee-icon-thumbs-up {
  font-size: 25px;
}

#asset_navigation {
  width: 100%;
  background-color: #cccccc;
  margin-bottom: 10px;
}

#asset_navigation ul {
  margin: 0px;
  padding: 0px;
}

#asset_navigation li {
  display: inline-block;
  padding: 0 20px;
}

#asset_navigation li a {
  padding: 15px 10px 10px 10px;
  display: block;
  border-bottom: 3px solid #cccccc;
  color: #959595;
}

#asset_navigation li:hover a {
  display: block;
  border-bottom: 3px solid #959595;
}

/* Troth - Assets
  ======================================== */
.asset_brand_form,
.message_brand_form {
  display: none;
}

.asset_brand_form #asset_brand_form,
.message_brand_form #message_brand_form {
  width: 260px !important;
  margin-bottom: 0px !important;
  margin-right: 7px;
}

.asset_category_form,
.message_category_form {
}

#asset_container #asset_blocks .brand_name,
#message_container #message_blocks .brand_name {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 9px 2px 9px;
  color: #ffffff;
  background-color: #41be90;
  font-size: 12px;
  line-height: 18px;
  z-index: 1;
}

#asset_container #asset_blocks .asset_group,
#message_container #message_blocks .message_group {
  position: relative;
  background-color: #fbfbfb;
  height: 96%;
}

#asset_container .asset_category,
#message_container .message_category {
  font-size: 12px;
}

#content_form {
  .form-group > * {
    @include mq(custom, max, 550) {
      margin-bottom: 15px !important;
    }
  }
}

#asset-upload-wrapper {
  .mdb-upload {
    height: 140px !important;
    .mdb-upload-message {
      top: 40px;
      padding: 0;
    }
  }
}