@font-face {
  font-family: 'Sailec';
  src: url('../fonts/sailec/Sailec.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Sailec-Bold';
  src: url('../fonts/sailec/SailecBold.otf');
  font-weight: bold;
}
