/********************* START OF MIGRATION OF CSS FROM REACT FOLDERS ***********************/

/**** START Chat.css ****/

// #chat_app {
//     width: 310px;
//     overflow-x: hidden;
//     margin-bottom: 30px;
//     position: relative;
//     /* margin-top: 295px; */
//     place-self: end;
// }

.chat-app-hide {
  display: none;
}

.friend-list {
  display: grid;
}

.sidebar-menu-container {
  justify-self: center;
  display: grid;
  grid-template-columns: [first] 270px [end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [third-line] auto [last-line];
  background-color: #212121;
  z-index: 100;
}

.search-input-item {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
}

#search-friend {
  background-color: #212121 !important;
  border: 2px solid #212121 !important;
  color: white !important;
  outline: none;
}

.chat_windows {
  position: fixed;
  right: 0px;
  background-color: white;
  bottom: 0px;
  z-index: 2;
  display: flex;
  width: 325px;
}

#minimized_chat {
  margin-bottom: 0;
}

#chat-text {
  margin-bottom: 0px !important;
  outline: none;
}

#chat_notifications {
  padding-top: 20px;
  color: white;
  position: relative;
  right: 13px;
  bottom: 1px;
}

#close-button {
  position: relative;
  left: auto;
  color: white;
  right: 20px;
  bottom: 20px;
}

#chatbox-height {
  min-height: 430px;
  max-height: 430px;
  overflow: auto;
}

#delivered-check {
  position: relative;
  left: 248px;
  top: 37px;
  color: white;
}

.chat-top-border {
  background-color: #333333;
  padding-top: 12px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}

.chat-top-border-collapse {
  position: fixed;
  bottom: 0;
  height: 39px;
  right: 0;
  background-color: #333333;
  padding-top: 12px;
  color: white;
  width: 185px;
  cursor: pointer;
}

.friend-name {
  padding-left: 15px;
  margin-bottom: 0px;
  color: white;
  font-size: 16px;
}

#recent-chat-padding {
  padding-bottom: 10px;
}

@media (max-width: 440px) {
  .mobile_chat_icon {
    color: #ffffff !important;
    position: relative;
    top: 5px;
    right: 10px;
  }

  .sidebar-menu-container {
    justify-self: center;
    display: grid;
    grid-template-columns: [first] 100vw [end];
    grid-template-rows: [row1-start] 45px [row1-end row2-start] min-content [third-line] auto [last-line];
    /* for Safari */
    grid-template-rows: [row1-start] 45px [row1-end row2-start] -webkit-min-content [third-line] auto [last-line];
    background-color: #212121;
    position: fixed;
    top: 64px;
    height: calc(100% - 128px);
    overflow-y: scroll;
    z-index: 100;
  }

  .chat_windows {
    position: fixed;
    right: 0px;
    background-color: white;
    bottom: 64px;
    z-index: 2;
    display: flex;
    width: 100vw;
    height: calc(100% - 128px);
  }

  .chat-text-item {
    place-self: stretch;
  }

  #close-button {
    display: none;
  }
}

/* END Chat.css */

/* START ChatApp.css */

#hide_mobile_chat_window {
  visibility: hidden;
}

/* END ChatApp.css */

/* START ChatBox.css */

.message {
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 9px;
}

.sent_message {
  float: right;
  background: #16cd8a;
  color: white;
  border-radius: 10px;
  position: relative;
  right: 6px;
  max-width: 80%;
}

.sent_message::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #16cd8a;
  position: absolute;
  top: 5px;
  right: -2px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.chat-sent-avatar {
  float: right;
  color: white;
  border-radius: 10px;
  position: relative;
  right: 6px;
  max-width: 80%;
}

.received_message {
  float: left;
  background: #f4f7f9;
  border-radius: 10px;
  position: relative;
  left: 6px;
  max-width: 80%;
}

.received_message::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #f4f7f9;
  position: absolute;
  top: 5px;
  left: -2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.hide-kebab {
  visibility: hidden;
}

.show-kebab {
  float: left;
  position: relative;
}

.chat-received-avatar {
  float: left;
  border-radius: 10px;
  position: relative;
  left: 6px;
  max-width: 80%;
}

/* END ChatBox.css */

/* START ChatWindow.css */

.chat-box-container {
  width: 340px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: [row1-start] 36px [row1-end row2-start] 36px [row2-end] 335px [fourth-line] 1fr [last-line];
}

#chat-text {
  margin-bottom: 0px !important;
  border-color: white !important;
}

.chatbox-height-item {
  overflow: auto;
}

.delete-conversations {
  padding-top: 20px;
  border-bottom: solid;
  border-width: thin;
  padding-left: 34px;
  border-color: #eff1ff;
  cursor: pointer;
}

.chat-window-settings {
  background-color: #f5f6fd;
  opacity: 0.5;
}

.chat-window-settings-active {
  background-color: #f5f6fd;
  opacity: 1;
}

.gear-icon {
  color: #16cd8a;
  position: absolute;
  right: 11px;
  padding-top: 3px;
  padding-bottom: 4px;
}

@media (max-width: 440px) {
  .chat-box-container {
    width: 100vw;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows:
      [row1-start] 40px [row1-end row2-start] 38px [row2-end] calc(100% - 120px)
      [fourth-line] 36px [last-line];
  }

  .gear-icon {
    color: #16cd8a;
    position: absolute;
    right: 11px;
    padding-top: 3px;
    padding-bottom: 4px;
  }

  .chatbox-height-item {
    overflow: auto;
  }

  .chatbox-height-item {
    overflow: auto;
    max-height: calc(100vh - 240px);
  }
}

/* END ChatWindow.css */

/* START FriendList.css */

.friend-list-container {
  display: grid;
}

.header-chevron-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
}

.all-users-header {
  padding-left: 15px;
  color: white;
}

.all-users-header-item {
  grid-column: first / line3;
  place-self: center start;
  align-self: center;
  justify-self: start;
  margin-bottom: 0px;
  padding-left: 15px;
  color: white;
}

.dynamic-chevron-item {
  grid-column: line3 / end;
  place-self: start end;
  align-self: start;
  justify-self: end;
  padding-right: 15px;
  color: #464646;
}

.friend-list-item:nth-child(n + 1) {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  height: 70px;
  color: white;
}

.friend-list-item:nth-child(n + 1):hover {
  cursor: pointer;
}

.collapsed:nth-child(n + 1) {
  display: none;
}

.friend-list-avatar-sub-item {
  grid-column: first / line2;
  place-self: center start;
  max-height: 71px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: -1;
}

.friend-name-sub-item {
  grid-column: line2 / end;
  place-self: center start;
  align-self: center;
  justify-self: start;
}

#all-users-background {
  position: relative;
  left: 25px;
  width: 84%;
  background-color: #2d2d2d;
  height: 30px;
}

.friend-list-avatar {
  left: -71px;
  width: 63%;
  position: relative;
  top: 30px;
}

.unread-dot {
  position: relative;
  left: 36px;
  bottom: 24px;
  color: red;
}

#mobile-unread-dot {
  position: absolute;
  left: 19px;
  color: #16cd8a;
  bottom: 11px;
}

div .sb-avatar__text > div {
  position: relative;
  top: 2px;
  left: 1px;
}

@media (max-width: 440px) {
  .friend-list-avatar-sub-item {
    grid-column: first / line2;
    place-self: center start;
    align-self: center;
    justify-self: start;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: -1;
    max-height: 70px;
  }

  .friend-name-sub-item {
    grid-column: line2 / end;
    place-self: center start;
    align-self: center;
    justify-self: start;
  }

  .unread-dot {
    position: relative;
    right: 0px;
    color: red;
  }
}

/* END FriendList.css */

/* START UsersFriendList.css */

#remove-friend {
  position: relative;

  z-index: 2;
  text-shadow: 0 0 0;
  color: grey;
}

#remove-friend-hidden {
  visibility: hidden;
  position: relative;

  z-index: 0;
  color: #2d2d2d;
  text-shadow: 0 0 0;
}

/* END UsersFriendList.css */

/*********START CSS For NOTES from React Folder**********/

/* START CK_Editor.css */

.ck-editor-grid-container {
  display: grid;
  // height: 100%;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] 4fr [row2-end] 1fr [last-line];
  width: 90%;
  margin: 65px auto;
}

.ck-editor-title-item {
  grid-column: first / end;
  grid-row: row1-start / row1-end;
}

.ck-editor-item {
  grid-column: first / end;
  grid-row: row2-start / row2-end;
  padding-left: 0px;
  padding-right: 3px;
}

.share-button-item {
  grid-column: first / line2;
  grid-row: row2-end / last-line;
  justify-self: center;
  align-self: center;
}

.shared-with-number-item {
  grid-column: line2 / line3;
  grid-row: row2-end / last-line;
  justify-self: end;
  align-self: center;
}

.mobile-back-button-item {
  align-self: center;
  justify-self: center;
  width: calc(100% - 10%);
  bottom: 0px;
}

.mobile-back-button-item.m-back {
  place-self: center;
  position: absolute;
  width: calc(100% - 10%);
  bottom: 0px;
}

.cke_editable {
  border: none;
}

.cke_editable:focus {
  outline: none;
}

.cke_editable p:nth-child(n + 3) {
  padding-left: 22px;
  font-size: 18px;
}

#ck-title-header {
  height: auto !important;
  font-size: 35px !important;
  font-weight: 100;
  border-color: #fff;
  border-width: thin !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-top: 18px !important;
  background-color: white !important;
  outline: none;
  line-height: 1.5 !important;
  border-bottom: none !important;
}

.ck-editor-item .cke_editable p:nth-child(1) {
  content: "";
  font-size: 18px;
  padding-top: 23px;
  padding-left: 22px;
  padding-top: 40px;
}

.ck-editor-item div:nth-child(2) {
  width: 100% !important;
}

.cke_contents {
  height: 53vh !important;
}

// .green-button {
//   margin-bottom: 0px !important;
// }

#mobile-ck-editor {
  position: fixed;
  background-color: white;
  height: 902px;
  top: 69px;
  bottom: 76px;
  width: 546px;
  right: -2px;
}

#mobile-shared-with-number {
  position: relative;
  top: 7px;
  left: 62px;
}

#mobile-create-new-note {
  position: fixed;
  left: 430px;
  bottom: 102px;
}

.mobile-notes-bottom-container {
  width: 82vw;
  position: relative;
  right: 74px;
  bottom: 24px;
}

@media (max-width: 770px) {
  .shared-with-number-item {
    grid-column: line2 / line3;
    grid-row: row2-end / last-line;
    justify-self: center;
    align-self: center;
  }

  .ck-editor-grid-container {
    display: grid;
    // height: 90%;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
    grid-template-rows: [row1-start] 108px [row1-end row2-start] 1fr [row2-end] 100px [last-line];
  }

  #cke_editor6 {
    width: 100% !important;
  }
}

@media (max-width: 520px) {
  .shared-with-number-item {
    grid-column: line2 / line3;
    grid-row: row2-end / last-line;
    justify-self: end;
    align-self: center;
    font-size: 12px;
    text-align: center;
  }

  .ck-editor-grid-container {
    display: grid;
    // height: 100%;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
    grid-template-rows: [row1-start] 80px [row1-end row2-start] 1fr [row2-end] 100px [last-line];
  }

  .ck-editor-item {
    grid-column: first / end;
    grid-row: row2-start / row2-end;
    padding-left: 0px;
  }

  .cke_contents {
    height: 53vh !important;
  }

  .ck-editor-title-item .cke_editable p:nth-child(1) {
    height: auto;
    font-size: 24px;
    font-weight: bold;
    border-bottom: solid;
    border-color: #f1f1f1;
    border-width: thin;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-top: 15px;
  }
}

@media (max-height: 1400px) {
  .cke_contents {
    height: 53vh !important;
  }
}

@media (max-height: 740px) {
  .cke_contents {
    height: 48vh !important;
  }
}

@media (max-height: 670px) {
  .cke_contents {
    height: 44vh !important;
  }
}

@media (max-height: 640px) {
  .cke_contents {
    height: 41vh !important;
  }
}

@media (max-height: 570px) {
  .cke_contents {
    height: 34vh !important;
  }
}

@media (max-width: 320px) {
  .cke_contents {
    height: 47vh !important;
  }
}

/* END CK_Editor.css */

/* START DeleteConfirmation.css */

#delete-confirmation {
  top: calc(100% - 70%);
}

/* END DeleteConfirmation.css */

/* START NoteApp.css */

#note-app {
  height: 100% !important;
  overflow-x: hidden;
  @include scrollStyle;
}

#note-app-alert-new {
  bottom: 24px;
  right: 39px;
}

// body.active #page {
//   padding: 90px 40px 100px !important;
//   display: block;
// }

.sidebar-note-container {
  display: grid;
  // height: 112%;
  grid-template-columns: [first] 359px [line2] auto [end];
  grid-template-rows: [row1-start] auto [last-line];
  grid-gap: 0px 33px;
}

/* .sidebar-note-container.show {
      grid-template-columns: [first] 359px [line2] 100% [end];
      grid-gap: 0px;
    } */

.editor-grid-item {
  grid-column: line2 / end;
}

.sidebar-grid-item {
  grid-column: first / line2;
}

.loading-screen {
  position: relative;
  top: 40vh;
  left: 18vw;
}

.loading-text {
  padding-left: 16px;
}

.alert {
  margin: 0px !important;
}

.alert-heading {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
  top: 40% !important;
}

.alert-heading + p {
  position: absolute !important;
  left: 0 !important;
  text-align: center !important;
  right: 0 !important;
  top: 44% !important;
}

@media (max-width: 931px) {
  .sidebar-note-container {
    display: grid;
    // height: 112%;
    grid-template-columns: [first] 262px [line2] auto [end];
    grid-template-rows: [row1-start] auto [last-line];
  }
}

@media (max-width: 770px) {
  .editor-grid-item {
    grid-column: first / end;
    grid-row: row1-start / [last-line];
  }

  .sidebar-note-container.show {
    grid-template-columns: [first] 391px [line2] 100% [end];
    grid-gap: 0px;
  }

  //   body.active #page {
  //     padding: 75px 10px !important;
  //     display: block;
  //   }

  .alert-heading {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 36% !important;
    text-align: center !important;
  }

  .alert-heading + p {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    top: 42% !important;
  }

  .loading-screen {
    position: fixed;
    top: 41vh;
    right: 25vw;
  }
}

/* END NoteApp.css */

/* START NoteList.css */

#notes_block_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

#note_block {
  background-color: #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  display: block;
  width: 120%;
}

/* END NoteList.css */

/* START NoteListItem.css */

.note-list-item {
  border-bottom: solid;
  border-color: #46464626;
  border-width: thin;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  cursor: pointer;
}

#pencil {
  padding-left: 5px;
}

.message_detail_delete {
  margin-bottom: 4px;
}

.note_title {
  margin-bottom: 2px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note_body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 13px;
  margin-bottom: 5px !important;
}

.mobile-note-list-item {
  border-bottom: solid;
  width: 98vw;
  border-color: #46464626;
  border-width: thin;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  cursor: pointer;
}

/* END NoteListItem.css */

/* START NoteSideBar.css */

.note_container {
  padding: 1px;
  border-bottom: 2px solid #e6e6e6;
  background-color: #f7f7f7;
  position: fixed;
  top: 64px;
  left: 320px;
  bottom: 0px;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  border-right: 1px solid #e6e6e6;
  overflow: auto;
}

.note-top-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  grid-template-rows: [row1-start] 60px [row1-end row2-start] 36px [third-line] 1fr [last-line];
  color: #252525;
  font-size: 18px;
  font-weight: normal;
  border-bottom: solid;
  border-width: thin;
  border-color: #46464626;
}

.note_header-item {
  grid-column: first / line3;
  grid-row: row1-start / row1-end;
  place-self: center start;
  padding-left: 19px;
  color: #252525;
  font-size: 25px;
  font-weight: bold;
}

.count_note-item {
  grid-column: first / line2;
  grid-row: row2-start / third-line;
  place-self: center start;
  padding-left: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-item {
  grid-column: first / end;
  grid-row: third-line / last-line;
  justify-self: center;
}

@media (max-width: 1176px) {
  .note_container {
    top: 64px;
    left: 0;
    bottom: 0px;
    width: 100%;
  }
}

@media (max-width: 931px) {
  .note_container {
    top: 64px;
    left: 0;
    bottom: 0px;
    width: 33%;
  }
}

@media (max-width: 770px) {
  .note_container {
    top: 64px;
    right: -2px;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  }
}

@media (max-width: 540px) {
  .note_container {
    top: 64px;
    right: -2px;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: calc(100% - 128px);
  }
}
/* END NoteSideBar.css */

/* START ShareModal.css */

.invite-users-container {
  display: grid;
  border: 1px solid #e9ecef;
  margin-bottom: 20px;
}

.input-and-selected-list-container {
  display: flex;
  flex-wrap: wrap;
}

.share-modal-input {
  /* border-top: 1px solid #F6F7FD; */
  /* outline: #000; */
  border-width: 1px;
  border-color: #fdfdfd;
  margin: 0;
  border-left: none;
  border-top: 1px solid #e8ecef;
  border-bottom: none;
  border-right: none;
}

.share-modal-input::placeholder {
  color: grey;
}

.not-shared-with-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, [row1-start] 60px [row1-end]);
  background-color: #f6f7fc;
  color: #f6f7fc;
  border: 0;
  max-height: 190px;
  overflow: auto;
  border-top: 1px solid #e8ecef;
  @include scrollStyle;
}

.shared-with-list-container {
  display: grid;
  border: 1px solid #e9ecef;
  grid-template-rows: repeat(auto-fit, [row1-start] 60px [row1-end]);
  max-height: 190px;
  overflow: auto;
  margin-top: 10px;
}

.shared-with-item-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 175px [end];
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [last-line];
  padding-top: 5px;
  padding-bottom: 5px;
}

.shared-with-item-container:hover {
  background-color: #16cd8a;
}

.shared-with-item-container:hover > div {
  color: white;
}

.shared-with-item-container:hover > .remove-user-button {
  border: solid 2px #ffffff;
  background-color: #16cd8a;
  color: white !important;
}

.shared-with-email-item {
  grid-row: row2-start / last-line;
  color: grey;
  margin-left: 10px;
}

.shared-with-name-item {
  color: #494949;
  margin-left: 10px;
}

.selected-shared-users-container {
  display: grid;
  grid-template-columns: [first] 2fr [line2] 10% [end];
  background-color: #16cd8a;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  margin: 10px;
}

.selected-shared-email {
  place-self: center;
}

#remove-selected-user-item {
  place-self: center end;
  padding-left: 8px;
  color: white;
  font-size: 14px;
}

.remove-user-button {
  grid-row: row1-start / last-line;
  grid-column: line2 / end;
  font-size: 14px;
  margin-bottom: 0px !important;
  background-color: white;
  color: #16cd8a !important;
}

.list-shared-users {
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}

.list-shared-users:hover {
  background-color: #dedbdb;
}

.share-full-name-item {
  color: #494949;
  margin-left: 10px;
}

.share-email-item {
  color: grey;
  margin-left: 10px;
}

#share-modal {
  top: calc(100% - 80%);
}

#share-modal-input:focus {
  outline: none;
}

#mobile-share-modal {
  top: 169px;
  right: 9px;
}

#mobile-share-modal-input {
  width: 100%;
  background-color: #f6f7fd;
  border: 0;
}

#mobile-share-modal-input:focus {
  outline: none;
}

/* END ShareModal.css */

/**** END NOTES from React CSS Folders ******/

/********************* END OF MIGRATION OF CSS FROM REACT FOLDERS ***********************/

/********************* START OF MIGRATION OF CSS FROM REACT FOLDERS ***********************/

/**** START Chat.css ****/

.chat-friend-list-loading {
  position: relative;
  left: 45%;
  top: 0px;
  color: grey;
}

.chat-box-v2-loading {
    position: relative;
    left: 45%;
    top: 35%;
    color: #16CD8A;
}



.chat-app-hide {
  display: none;
}

.friend-list {
  display: grid;
}

.sidebar-menu-container {
  justify-self: center;
  display: grid;
  grid-template-columns: [first] 270px [end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [third-line] auto [last-line];
  background-color: #212121;
  z-index: 100;
}

.search-input-item {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
}

#search-friend {
  background-color: #212121 !important;
  border: 2px solid #212121 !important;
  color: white !important;
  outline: none;
}

.chat_windows {
  position: fixed;
  right: 0px;
  background-color: white;
  bottom: 0px;
  z-index: 2;
  display: flex;
  width: 325px;
}

#minimized_chat {
  margin-bottom: 0;
}

#chat-text {
  margin-bottom: 0px !important;
  outline: none;
}

#chat_notifications {
  padding-top: 20px;
  color: white;
  position: relative;
  right: 13px;
  bottom: 1px;
}

#close-button {
  position: relative;
  left: auto;
  color: white;
  right: 20px;
  bottom: 20px;
}

#chatbox-height {
  min-height: 430px;
  max-height: 430px;
  overflow: auto;
}

#delivered-check {
  position: relative;
  left: 248px;
  top: 37px;
  color: white;
}

.chat-top-border {
  background-color: #333333;
  padding-top: 12px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}

.chat-top-border-collapse {
  position: fixed;
  bottom: 0;
  height: 39px;
  right: 0;
  background-color: #333333;
  padding-top: 12px;
  color: white;
  width: 185px;
  cursor: pointer;
}

.friend-name {
  padding-left: 15px;
  margin-bottom: 0px;
  color: white;
  font-size: 16px;
}

#recent-chat-padding {
  padding-bottom: 10px;
}

@media (max-width: 440px) {
  .mobile_chat_icon {
    color: #ffffff !important;
    position: relative;
    top: 5px;
    right: 10px;
  }

  .sidebar-menu-container {
    justify-self: center;
    display: grid;
    grid-template-columns: [first] 100vw [end];
    grid-template-rows: [row1-start] 45px [row1-end row2-start] min-content [third-line] auto [last-line];
    /* for Safari */
    grid-template-rows: [row1-start] 45px [row1-end row2-start] -webkit-min-content [third-line] auto [last-line];
    background-color: #212121;
    position: fixed;
    top: 64px;
    height: calc(100% - 128px);
    overflow-y: scroll;
    z-index: 100;
  }

  .chat_windows {
    position: fixed;
    right: 0px;
    background-color: white;
    bottom: 64px;
    z-index: 2;
    display: flex;
    width: 100vw;
    height: calc(100% - 128px);
  }

  .chat-text-item {
    place-self: stretch;
  }

  #close-button {
    display: none;
  }
}

/* END Chat.css */

/* START ChatApp.css */

#hide_mobile_chat_window {
  visibility: hidden;
}

/* END ChatApp.css */

/* START ChatBox.css */

.message {
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 9px;
}

.sent_message {
  float: right;
  background: #16cd8a;
  color: white;
  border-radius: 10px;
  position: relative;
  right: 6px;
  max-width: 80%;
}

.sent_message::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #16cd8a;
  position: absolute;
  top: 5px;
  right: -2px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.chat-sent-avatar {
  float: right;
  color: white;
  border-radius: 10px;
  position: relative;
  right: 6px;
  max-width: 80%;
}

.received_message {
  float: left;
  background: #f4f7f9;
  border-radius: 10px;
  position: relative;
  left: 6px;
  max-width: 80%;
}

.received_message::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #f4f7f9;
  position: absolute;
  top: 5px;
  left: -2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.hide-kebab {
  visibility: hidden;
}

.show-kebab {
  float: left;
  position: relative;
}

.chat-received-avatar {
  float: left;
  border-radius: 10px;
  position: relative;
  left: 6px;
  max-width: 80%;
}

/* END ChatBox.css */

/* START ChatWindow.css */

.chat-box-container {
  width: 340px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: [row1-start] 36px [row1-end row2-start] 36px [row2-end] 335px [fourth-line] 1fr [last-line];
}

#chat-text {
  margin-bottom: 0px !important;
  border-color: white !important;
}

.chatbox-height-item {
  overflow: auto;
}

.delete-conversations {
  padding-top: 20px;
  border-bottom: solid;
  border-width: thin;
  padding-left: 34px;
  border-color: #eff1ff;
  cursor: pointer;
}

.chat-window-settings {
  background-color: #f5f6fd;
  opacity: 0.5;
}

.chat-window-settings-active {
  background-color: #f5f6fd;
  opacity: 1;
}

.gear-icon {
  color: #16cd8a;
  position: absolute;
  right: 11px;
  padding-top: 3px;
  padding-bottom: 4px;
}

@media (max-width: 440px) {
  .chat-box-container {
    width: 100vw;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows:
      [row1-start] 40px [row1-end row2-start] 38px [row2-end] calc(100% - 120px)
      [fourth-line] 36px [last-line];
  }

  .gear-icon {
    color: #16cd8a;
    position: absolute;
    right: 11px;
    padding-top: 3px;
    padding-bottom: 4px;
  }

  .chatbox-height-item {
    overflow: auto;
  }

  .chatbox-height-item {
    overflow: auto;
    max-height: calc(100vh - 240px);
  }
}

/* END ChatWindow.css */

/* START FriendList.css */

.friend-list-container {
  display: grid;

  .friend-list-item {
    padding-right: 10px;
  }
}

.header-chevron-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
}

.all-users-header {
  padding-left: 15px;
  color: white;
}

.all-users-header-item {
  grid-column: first / line3;
  place-self: center start;
  align-self: center;
  justify-self: start;
  margin-bottom: 0px;
  padding-left: 15px;
  color: white;
}

.dynamic-chevron-item {
  grid-column: line3 / end;
  place-self: start end;
  align-self: start;
  justify-self: end;
  padding-right: 15px;
  color: #464646;
}

.friend-list-item:nth-child(n + 1) {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  height: 70px;
  color: white;
}

.friend-list-item:nth-child(n + 1):hover {
  cursor: pointer;
}

.collapsed:nth-child(n + 1) {
  display: none;
}

.friend-list-avatar-sub-item {
  grid-column: first / line2;
  place-self: center start;
  max-height: 71px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: -1;
}

.friend-name-sub-item {
  grid-column: line2 / end;
  place-self: center start;
  align-self: center;
  justify-self: start;
}

#all-users-background {
  position: relative;
  left: 25px;
  width: 84%;
  background-color: #2d2d2d;
  height: 30px;
}

.friend-list-avatar {
  left: -71px;
  width: 63%;
  position: relative;
  top: 30px;
}

.unread-dot {
  position: relative;
  left: 36px;
  bottom: 24px;
  color: red;
}

#mobile-unread-dot {
  position: absolute;
  left: 19px;
  color: #16cd8a;
  bottom: 11px;
}

div .sb-avatar__text > div {
  position: relative;
  top: 2px;
  left: 1px;
}

@media (max-width: 440px) {
  .friend-list-avatar-sub-item {
    grid-column: first / line2;
    place-self: center start;
    align-self: center;
    justify-self: start;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: -1;
    max-height: 70px;
  }

  .friend-name-sub-item {
    grid-column: line2 / end;
    place-self: center start;
    align-self: center;
    justify-self: start;
  }

  .unread-dot {
    position: relative;
    right: 0px;
    color: red;
  }
}

/* END FriendList.css */

/* START UsersFriendList.css */

#remove-friend {
  position: relative;

  z-index: 2;
  text-shadow: 0 0 0;
  color: grey;
}

#remove-friend-hidden {
  visibility: hidden;
  position: relative;

  z-index: 0;
  color: #2d2d2d;
  text-shadow: 0 0 0;
}

/* END UsersFriendList.css */

/*********START CSS For NOTES from React Folder**********/

/* START CK_Editor.css */

.ck-editor-grid-container {
  display: grid;
  // height: 100%;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] 4fr [row2-end] 1fr [last-line];
}

.ck-editor-title-item {
  grid-column: first / end;
  grid-row: row1-start / row1-end;
}

.ck-editor-item {
  grid-column: first / end;
  grid-row: row2-start / row2-end;
  padding-left: 0px;
  padding-right: 3px;
}

.share-button-item {
  grid-column: first / line2;
  grid-row: row2-end / last-line;
  justify-self: center;
  align-self: center;
}

.shared-with-number-item {
  grid-column: line2 / line3;
  grid-row: row2-end / last-line;
  justify-self: end;
  align-self: center;
}

.mobile-back-button-item {
  align-self: center;
  justify-self: center;
  width: calc(100% - 10%);
  bottom: 0px;
}

.mobile-back-button-item.m-back {
  place-self: center;
  position: absolute;
  width: calc(100% - 10%);
  bottom: 0px;
}

.cke_editable {
  border: none;
}

.cke_editable:focus {
  outline: none;
}

.cke_editable p:nth-child(n + 3) {
  padding-left: 22px;
  font-size: 18px;
}

#ck-title-header {
  height: auto !important;
  font-size: 24px !important;
  font-weight: bold;
  border-color: #f1f1f1;
  border-width: thin !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding-bottom: 15px !important;
  padding-left: 22px !important;
  padding-top: 18px !important;
  background-color: white !important;
  outline: none;
  line-height: 1.5 !important;
}

.ck-editor-item .cke_editable p:nth-child(1) {
  content: "";
  font-size: 18px;
  padding-top: 23px;
  padding-left: 22px;
  padding-top: 40px;
}

.ck-editor-item div:nth-child(2) {
  width: 100% !important;
}

.cke_contents {
  height: 63vh !important;
}

// .green-button {
//   margin-bottom: 0px !important;
// }

#mobile-ck-editor {
  position: fixed;
  background-color: white;
  height: 902px;
  top: 69px;
  bottom: 76px;
  width: 546px;
  right: -2px;
}

#mobile-shared-with-number {
  position: relative;
  top: 7px;
  left: 62px;
}

#mobile-create-new-note {
  position: fixed;
  left: 430px;
  bottom: 102px;
}

.mobile-notes-bottom-container {
  width: 82vw;
  position: relative;
  right: 74px;
  bottom: 24px;
}

@media (max-width: 770px) {
  .shared-with-number-item {
    grid-column: line2 / line3;
    grid-row: row2-end / last-line;
    justify-self: center;
    align-self: center;
  }

  .ck-editor-grid-container {
    display: grid;
    // height: 90%;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
    grid-template-rows: [row1-start] 108px [row1-end row2-start] 1fr [row2-end] 100px [last-line];
  }

  #cke_editor6 {
    width: 100% !important;
  }
}

@media (max-width: 520px) {
  .shared-with-number-item {
    grid-column: line2 / line3;
    grid-row: row2-end / last-line;
    justify-self: end;
    align-self: center;
    font-size: 12px;
    text-align: center;
  }

  .ck-editor-grid-container {
    display: grid;
    // height: 100%;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
    grid-template-rows: [row1-start] 80px [row1-end row2-start] 1fr [row2-end] 100px [last-line];
  }

  .ck-editor-item {
    grid-column: first / end;
    grid-row: row2-start / row2-end;
    padding-left: 0px;
  }

  .cke_contents {
    height: 54vh !important;
  }

  .ck-editor-title-item .cke_editable p:nth-child(1) {
    height: auto;
    font-size: 24px;
    font-weight: bold;
    border-bottom: solid;
    border-color: #f1f1f1;
    border-width: thin;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-top: 15px;
  }
}

@media (max-height: 1400px) {
  .cke_contents {
    height: 67vh !important;
  }
}

@media (max-height: 740px) {
  .cke_contents {
    height: 48vh !important;
  }
}

@media (max-height: 670px) {
  .cke_contents {
    height: 44vh !important;
  }
}

@media (max-height: 640px) {
  .cke_contents {
    height: 41vh !important;
  }
}

@media (max-height: 570px) {
  .cke_contents {
    height: 34vh !important;
  }
}

@media (max-width: 320px) {
  .cke_contents {
    height: 47vh !important;
  }
}

/* END CK_Editor.css */

/* START DeleteConfirmation.css */

#delete-confirmation {
  top: calc(100% - 70%);
}

/* END DeleteConfirmation.css */

/* START NoteApp.css */

#note-app {
  height: 100% !important;
}

#note-app-alert-new {
  bottom: 24px;
  right: 39px;
}

// body.active #page {
//   padding: 90px 40px 100px !important;
//   display: block;
// }

.sidebar-note-container {
  display: grid;
  // height: 112%;
  grid-template-columns: [first] 359px [line2] auto [end];
  grid-template-rows: [row1-start] auto [last-line];
  grid-gap: 0px 33px;
}

.sidebar-note-container.show {
  grid-template-columns: [first] 359px [line2] 100% [end];
  grid-gap: 0px;
}

.editor-grid-item {
  grid-column: line2 / end;
}

.sidebar-grid-item {
  grid-column: first / line2;
}

.loading-screen {
  position: relative;
  top: 40vh;
  left: 18vw;
}

.loading-text {
  padding-left: 16px;
}

.alert {
  margin: 0px !important;
}

.alert-heading {
  position: absolute !important;
  left: 22% !important;
  top: 40% !important;
}

.alert-heading + p {
  position: absolute !important;
  left: 0% !important;
  top: 44% !important;
}

@media (max-width: 931px) {
  .sidebar-note-container {
    display: grid;
    // height: 112%;
    grid-template-columns: [first] 262px [line2] auto [end];
    grid-template-rows: [row1-start] auto [last-line];
  }
}

@media (max-width: 770px) {
  .editor-grid-item {
    grid-column: first / end;
    grid-row: row1-start / [last-line];
  }

  .sidebar-note-container.show {
    grid-template-columns: [first] 391px [line2] 100% [end];
    grid-gap: 0px;
  }

  //   body.active #page {
  //     padding: 75px 10px !important;
  //     display: block;
  //   }

  .alert-heading {
    position: absolute !important;
    left: 15% !important;
    top: 36% !important;
  }

  .alert-heading + p {
    position: absolute !important;
    left: 18% !important;
    top: 42% !important;
  }

  .loading-screen {
    position: fixed;
    top: 41vh;
    right: 25vw;
  }
}

/* END NoteApp.css */

/* START NoteList.css */

#notes_block_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: content-box;
}

#note_block {
  background-color: #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  display: block;
  width: 120%;
}

/* END NoteList.css */

/* START NoteListItem.css */

.note-list-item {
  border-bottom: solid;
  border-color: #46464626;
  border-width: thin;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  cursor: pointer;
}

#pencil {
  padding-left: 5px;
}

.message_detail_delete {
  margin-bottom: 4px;
}

.note_title {
  margin-bottom: 2px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note_body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 13px;
  margin-bottom: 5px !important;
}

.mobile-note-list-item {
  border-bottom: solid;
  width: 98vw;
  border-color: #46464626;
  border-width: thin;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  cursor: pointer;
}

/* END NoteListItem.css */

/* START NoteSideBar.css */

.note-top-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  grid-template-rows: [row1-start] 60px [row1-end row2-start] 36px [third-line] 1fr [last-line];
  color: #252525;
  font-size: 18px;
  font-weight: normal;
  border-bottom: solid;
  border-width: thin;
  border-color: #46464626;
}

.note_header-item {
  grid-column: first / line3;
  grid-row: row1-start / row1-end;
  place-self: center start;
  padding-left: 19px;
  color: #252525;
  font-size: 25px;
  font-weight: bold;
}

.count_note-item {
  grid-column: first / line2;
  grid-row: row2-start / third-line;
  place-self: center start;
  padding-left: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-item {
  grid-column: first / end;
  grid-row: third-line / last-line;
  justify-self: center;
}

@media (max-width: 1176px) {
  .note_container {
    top: 64px;
    left: 0;
    bottom: 0px;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
  }
}

@media (max-width: 931px) {
  .note_container {
    top: 64px;
    left: 0;
    bottom: 0px;
    width: 33%;
  }
}

@media (max-width: 770px) {
  .note_container {
    right: -2px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 540px) {
  .note_container {
    right: -2px;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: calc(100% - 128px);
  }
}

/* END NoteSideBar.css */

/* START ShareModal.css */

.invite-users-container {
  display: grid;
  border: 1px solid #e9ecef;
}

.input-and-selected-list-container {
  display: flex;
  flex-wrap: wrap;
}

.share-modal-input {
  border: 0px;
  outline: none;
}

.share-modal-input::placeholder {
  color: grey;
}

.not-shared-with-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, [row1-start] 60px [row1-end]);
  background-color: #f1f1f1;
  color: white;
  border: 0;
  max-height: 190px;
  overflow: auto;
}

.shared-with-list-container {
  display: grid;
  border: 1px solid #e9ecef;
  grid-template-rows: repeat(auto-fit, [row1-start] 60px [row1-end]);
  max-height: 190px;
  overflow: auto;
}

.shared-with-item-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 175px [end];
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [last-line];
  padding-top: 5px;
  padding-bottom: 5px;
}

.shared-with-item-container:hover {
  background-color: #16cd8a;
}

.shared-with-item-container:hover > div {
  color: white;
}

.shared-with-item-container:hover > .remove-user-button {
  border: solid 2px #ffffff;
  background-color: #16cd8a;
  color: white !important;
}

.shared-with-email-item {
  grid-row: row2-start / last-line;
  color: grey;
  margin-left: 10px;
}

.shared-with-name-item {
  color: #494949;
  margin-left: 10px;
}

.selected-shared-users-container {
  display: grid;
  grid-template-columns: [first] 2fr [line2] 10% [end];
  background-color: #16cd8a;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  margin-left: 2px;
}

.selected-shared-email {
  place-self: center;
}

#remove-selected-user-item {
  place-self: center end;
  padding-left: 8px;
  color: white;
  font-size: 14px;
}

.remove-user-button {
  grid-row: row1-start / last-line;
  grid-column: line2 / end;
  font-size: 14px;
  margin-bottom: 0px !important;
  background-color: white;
  color: #16cd8a !important;
}

.list-shared-users {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.list-shared-users:hover {
  background-color: #dedbdb;
}

.share-full-name-item {
  color: #494949;
  margin-left: 10px;
}

.share-email-item {
  color: grey;
  margin-left: 10px;
}

#share-modal {
  top: calc(100% - 80%);
}

#share-modal-input:focus {
  outline: none;
}

#mobile-share-modal {
  top: 169px;
  right: 9px;
}

#mobile-share-modal-input {
  width: 100%;
  background-color: #f6f7fd;
  border: 0;
}

#mobile-share-modal-input:focus {
  outline: none;
}

/* END ShareModal.css */

/**** END NOTES from React CSS Folders ******/

/********************* END OF MIGRATION OF CSS FROM REACT FOLDERS ***********************/

/**************************** END OF LIVE CHAT STYLES ***************************/
