/* ======================================== */
/* modzee Buttons
/* ======================================== */

// MDB override
// a.btn:not([href]):not([tabindex]),
// a.btn:not([href]):not([tabindex]):focus,
// a.btn:not([href]):not([tabindex]):hover,
// table.table a.btn.btn-discord {
//   color: #fff;
// }

.btn {
  @include button;

  /* Primary Button */
  &.btn-primary {
    background-color: $indigo;
    border: 2px solid $indigo;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: #7580be;
      color: #ffffff;
      border: 2px solid #7580be;
    }

    &.dropdown-toggle {
      background-color: $indigo;

      &:hover,
      &:focus {
        background-color: #7580be;
      }
    }
  }

  /* Primary Button Outline */
  .btn-outline-primary {
    border: 2px solid $teal;
    color: $teal;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &.active {
      background-color: transparent;
      color: #7580be;
      border-color: #7580be;
    }

    /* Primary Button Outline Dark Background */
    &.dark_background {
      border: 2px solid #ffffff;
      color: #ffffff;
      background-color: transparent;

      &:hover,
      &:focus,
      &:active,
      &:active:focus,
      &.active {
        background-color: transparent;
        color: $teal;
        border-color: $teal;
      }
    }
  }

  // Outline Button - Cancel
  &.outline-button {
    &.cancel {
      position: absolute;
      top: 105px;
      right: 35px;
      color: #d9d9e0;

      &:hover {
        color: $indigo;
      }

      &.asset {
        position: absolute;
        top: -65px;
        right: -5px;
        color: #d9d9e0;

        &:hover {
          color: $indigo;
        }

        &.no-right {
          position: absolute;
          top: -65px;
          right: -35px;
          color: #d9d9e0;

          &:hover {
            color: $indigo;
          }
        }

        &.asset-top {
          position: absolute;
          top: -67px;
          right: 198px;
        }
      }

      &.asset-form {
        top: -75px;
        color: #d9d9e0;

        &:hover {
          color: $indigo;
        }
      }

      &.event {
        position: absolute;
        top: 0;
        right: 35px;
      }

      &.asset-top-0 {
        top: 0;
      }
    }
  }

  &.blue-button {
    color: #ffffff;
    background-color: $indigo;
    border: 2px solid $indigo;

    &:hover {
      background-color: $indigo-hover;
      border: 2px solid $indigo-hover;
      color: #ffffff;
    }

    &.outline {
      color: $indigo;
      background-color: transparent;
      border: 2px solid $indigo;

      &:hover {
        color: #ffffff;
        background-color: $indigo;
        border: 2px solid $indigo;
      }
    }

    &.cancel.save-draft.asset-top {
      position: absolute;
      top: -67px;
      right: 0;
      margin: 0;
    }

    .float-right.m-0.mr-2.roles_view_link {
      height: 52px;
    }
  }

  &.green-button,
  &.btn-modzee {
    background: $teal;
    border: solid 2px $teal;
    color: #fff;

    &:hover {
      color: #ffffff;
      background-color: $teal-hover;
      border: solid 2px $teal-hover;
    }

    &.outline {
      background: transparent;
      border: solid 2px $teal;
      color: $teal;

      &:hover {
        background: $teal;
        border: solid 2px $teal;
        color: #ffffff;
      }
    }

    &.cancel-button {
      background-color: #b7b8bd;
      border: solid 2px #b7b8bd;
    }
  }

  &.red-button {
    background-color: $red;
    border: solid 2px $red;

    &:hover {
      color: #ffffff;
      background-color: $red-hover;
    }
  }

  &.disabled-button {
    border: solid 2px #d9d9e0;
    background-color: #d9d9e0;

    &:hover {
      border: solid 2px #d9d9e0;
      background-color: #d9d9e0;
    }
  }

  &.btn-dark {
    color: #ffffff;
    background-color: #212121;
  }

  &.outline-button {
    color: #d9d9e0 !important;
    background-color: transparent;
    border: solid 2px #d9d9e0;

    &:hover {
      color: $indigo !important;
      border: solid 2px $indigo;
      cursor: pointer;
      box-shadow: none;
    }
  }

  &.outline-btn-green {
    color: $teal;
    border: solid 2px $teal;

    &:hover {
      color: #ffffff;
      border: solid 2px $teal;
      background-color: $teal;
    }
  }

  &.outline-btn-back {
    color: $teal !important;
    border: solid 2px $teal;

    &:hover {
      color: $indigo !important;
      border: solid 2px $indigo !important;
    }
  }

  &.outline-button-light {
    color: #ffffff;
    background-color: transparent;
    border: solid 2px #ffffff;

    &:hover {
      color: $teal;
      border: solid 2px $teal;
      background: #fff;
    }
  }

  &.last {
    margin-left: 10px;
    margin-right: 0;
  }
} // END .btn

.btn-floating.btn-sm {
  padding: 0;
}

// .btn-floating.btn-lg {
//   @include mq(custom, max, 550) {
//     width: 40px;
//     height: 40px;

//     & i {
//       font-size: 18px;
//       line-height: 40px;
//     }
//   }
// }


.btn-floating {
  background: $teal;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

.btn.btn-sm,
.btn-sm {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.7em;
}

tr {
  .green-button {
    .btn-sm {
      background-color: #d3d4db;
      border: solid 2px #d3d4db;
      margin: 0px;
    }
  }

  &:hover {
    .green-button.btn-sm {
      background-color: $teal;
      border: solid 2px $teal;
      margin: 0px;
    }
  }
}

.modzee-btn-add,
.modzee-btn-remove {
  margin: 30px 0 0 0;
  width: 45px;
  height: 45px;
  background-color: $teal;
  box-shadow: none;
  -webkit-box-shadow: none;

  i {
    line-height: 45px;
    font-size: 1rem;
  }
}

.modzee-btn-remove {
  background-color: #d9d9e0;
}

.modzee-btn-add.no-label,
.modzee-btn-remove.no-label {
  margin: 0 0 0 0;
}

.btn-floating i {
  font-size: 1rem;
}

.fixed-action-btn {
  @include mq(custom, max, 550) {
    bottom: 70px !important;
    right: 20px !important;
  }
}