.group_divider {
    text-align: center;
}

.group_divider h2 {
    margin-bottom: 5px;
}

.group_divider .svg_icon {
    margin-bottom: 20px;
}

.divider_container {
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.divider_bar {
    background-color: #16cd8a;
    width: 30px;
    height: 3px;
    margin: 0px auto;
}

.divider_container.divider_left .divider_bar {
    margin: 0px;
}