/* Icons */
.icon_pdf {
  background-image: url("../img/icons/file-pdf-grey.svg");
}

.icon_pdf.icon_white {
  background-image: url("../img/icons/file-pdf-white.svg");
}

.icon_pdf.icon_black {
  background-image: url("../img/icons/file-pdf-black.svg");
}

.icon_png {
  background-image: url("../img/icons/file-png-grey.svg");
}

.icon_png.icon_white {
  background-image: url("../img/icons/file-png-white.svg");
}

.icon_png.icon_black {
  background-image: url("../img/icons/file-png-black.svg");
}

.icon_zip {
  background-image: url("../img/icons/file-zip-grey.svg");
}

.icon_zip.icon_white {
  background-image: url("../img/icons/file-zip-white.svg");
}

.icon_zip.icon_black {
  background-image: url("../img/icons/file-zip-black.svg");
}

.icon_doc,
.icon_docx {
  background-image: url("../img/icons/file-doc-grey.svg");
}

.icon_doc.icon_white,
.icon_docx.icon_white {
  background-image: url("../img/icons/file-doc-white.svg");
}

.icon_doc.icon_black,
.icon_docx.icon_black {
  background-image: url("../img/icons/file-doc-black.svg");
}

.icon_ppt,
.icon_pptx {
  background-image: url("../img/icons/file-ppt-grey.svg");
}

.icon_ppt.icon_white,
.icon_pptx.icon_white {
  background-image: url("../img/icons/file-pptd-white.svg");
}

.icon_ppt.icon_black,
.icon_pptx.icon_black {
  background-image: url("../img/icons/file-pptd-black.svg");
}

.icon_xls,
.icon_xlsx {
  background-image: url("../img/icons/file-xls-grey.svg");
}

.icon_xls.icon_white,
.icon_xlsx.icon_white {
  background-image: url("../img/icons/file-xls-white.svg");
}

.icon_xls.icon_black,
.icon_xlsx.icon_black {
  background-image: url("../img/icons/file-xls-black.svg");
}

.icon_jpg,
.icon_jpeg {
  background-image: url("../img/icons/file-jpg-grey.svg");
}

.icon_jpg.icon_white,
.icon_jpeg.icon_white {
  background-image: url("../img/icons/file-jpg-white.svg");
}

.icon_jpg.icon_black,
.icon_jpeg.icon_black {
  background-image: url("../img/icons/file-jpg-black.svg");
}

.icon_eps,
.icon_ai {
  background-image: url("../img/icons/file-eps-grey.svg");
}

.icon_eps.icon_white,
.icon_ai.icon_white {
  background-image: url("../img/icons/file-eps-white.svg");
}

.icon_eps.icon_black,
.icon_ai.icon_black {
  background-image: url("../img/icons/file-eps-black.svg");
}
