/*Pagination*/

.pagination .page-item {
  .page-link {
    padding: 8px 12px 4px !important;
    display: block;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0 !important;
  }

  &.active .page-link {
    background-color: #4c59a4;

    &:hover {
      background-color: #3d4783;
    }
  }
}

#pagination_option_group {
  padding-right: 20px;
  vertical-align: middle;
  height: 40px;

  .page-item.active .page-link {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-style: none !important;
    font-size: 13px;
  }

  .page-link {
    color: #959595 !important;
    border-style: none !important;
    font-size: 13px;
  }
}

.pagination_previous .page-link,
.pagination_next .page-link {
  border-style: none !important;
  display: block !important;
  background-color: #fff;
}

.pagination_previous .page-link:hover,
.pagination_previous.active .page-link,
.pagination_next .page-link:hover,
.pagination_next.active .page-link {
  background-color: #ffffff !important;
}

.pagination_wrapper {
  text-align: center;
  padding-bottom: 60px;

  .icon_wrapper {
    border: 1px solid #555555;

    &:hover {
      background-color: #ffffff;
    }

    i {
      color: #555555;
      font-size: 14px;
    }
  }
}

.pagination_previous,
.pagination_next {
  display: inline-block;
}

.pagination_previous i,
.pagination_next i {
  font-size: 35px;
  color: #555555;
}

.pagination_previous.disabled i,
.pagination_next.disabled i {
  font-size: 35px;
  color: #bcbdc9;
}

.pagination_string {
  color: #bcbdc9;
  font-size: 16px;
  padding: 0px 20px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
