/*** Amy - new SEARCH styles **/
.icon-nav-search.new::before {
  font-family: fb-icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}

.icon-nav-search.new::after {
  content: "";
  clear: both;
  position: absolute;
}

i.icon-nav-search.new {
  font-size: 22px !important;
  position: absolute;
  transition: all 0.2s ease-in-out;
  line-height: 22px;
  text-align: center;
  height: 46px;
  width: 48px;
  padding-top: 12px;
  color: #fff;
  background-color: #16cd8a;
}

.icon-nav-search.new.users {
  height: 46px;
  width: 46px;
}

#location_search_form i.icon-nav-search.new {
  height: 46px;
}

i.icon-nav-search.new.smaller {
  font-size: 20px;
}

#data_search {
  margin: 10px auto;
  margin: 0 0 20px 0;
  max-width: 25%;
  width: 25%;
  display: inline-block;
  min-width: 200px;

  input {
    width: inherit;
    vertical-align: middle;
    padding: 14px 60px 10px 10px;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    height: 46px;
  }
}
