.modzee-modal-tooltip {
    padding: 20px;
    min-width: 320px;
    margin-top: 15px;
    border-radius: 0;
}

.modzee-modal-tooltip .introjs-progress {
    margin: 20px 0;
    height: 5px;
}

.modzee-modal-tooltip .introjs-progress .introjs-progressbar {
    background: #16cd8a;
}

.modzee-modal-tooltip .introjs-button.introjs-skipbutton {
    background: #eee;
    border-color: #eee;
    color: #212121;
}

.modzee-modal-tooltip .introjs-button.introjs-skipbutton:hover {
    color: #212121;
}

.modzee-modal-tooltip .introjs-button.introjs-prevbutton {
    background: none;
    color: #4e05e7;
    border: 2px solid #4e05e7;
}

.modzee-modal-tooltip .introjs-button.introjs-prevbutton:hover {
    color: #4e05e7;
}

.modzee-modal-tooltip .introjs-button.introjs-nextbutton {
    background: #4e05e7;
    border-color: #4e05e7;
    color: #fff;
}

.introjs-button.introjs-nextbutton.introjs-disabled {
    display: none;
}

.modzee-modal-tooltip .introjs-button.introjs-nextbutton:hover {
    color: #fff;
}

.modzee-modal-tooltip .introjs-button {
    padding: 10px 15px;
    font-size: 14px;
    border-width: 2px;
    font-family: "Sailec-Bold" !important;
    line-height: 14px;
    text-shadow: none;
    border-radius: 4px;
    margin: 2px;
}

.modzee-modal-tooltip .introjs-button:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 0.8;
}